<template>
  <div>
    <div class="q-pa-sm">
      <q-btn color="primary" icon="mdi-arrow-left" @click="handleBack" />
    </div>
    <div class="q-pa-sm">
      <q-card>
        <q-card-section>
          <div class="text-h5">{{ title }}</div>
        </q-card-section>

        <q-separator inset />

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <q-card-section>  
                <q-input
                  square
                  v-model="detail.order_ref"
                  label="Order Ref"
                  readonly />
            </q-card-section>  
          </div>

          <div class="col-md-6 col-sm-12">
            <q-card-section>  
                <q-input
                  square
                  v-model="detail.name"
                  @change="isChanged = true"
                  label="Nama" />
            </q-card-section>  
          </div>

          <div class="col-md-6 col-sm-12">
            <q-card-section>
                <q-input
                  square
                  autogrow
                  @change="isChanged = true"
                  v-model="detail.address"
                  label="Alamat" />
            </q-card-section>
          </div>

          <div class="col-md-6 col-sm-12">
            <q-card-section>
              <q-input
                square
                @change="isChanged = true"
                v-model="detail.phone_number"
                label="Nomor HP" />
            </q-card-section>
          </div>

          <div class="col-md-6 col-sm-12">
            <q-card-section>
              <q-input
                square
                @change="isChanged = true"
                v-model="detail.type"
                label="Jenis" />
            </q-card-section>
          </div>

          <div class="col-md-6 col-sm-12">
            <q-card-section>
              <q-input
                square
                @change="isChanged = true"
                v-model="detail.material"
                label="Bahan" />
            </q-card-section>
          </div>
          <div class="col-md-6 col-sm-12">
            <q-card-section>
              <q-input
                square
                @change="isChanged = true"
                v-model="detail.total"
                label="Total Pesanan" />
            </q-card-section>
          </div>

          <div class="col-md-6 col-sm-12">
            <q-card-section>
              <q-input
                square
                @change="isChanged = true"
                v-model="detail.detail"
                label="Detail Pesanan" /> 
            </q-card-section>
          </div>

          <div class="col-md-6 col-sm-12">
            <q-card-section>
              <q-select
                label="Sudah DP"
                v-model="formattedIsDpPaid"
                :options="yesNoOptions"
                :values="yesNoValues" />
            </q-card-section>
          </div>

          <div class="col-md-6 col-sm-12">
            <q-card-section>
              <q-select
                label="Sudah Lunas"
                v-model="formattedIsPaidOff"
                :options="yesNoOptions"
                :values="yesNoValues" />
            </q-card-section>
          </div>

          <div class="col-md-6 col-sm-12">
            <q-card-section>
              <q-input
                filled
                v-model="detail.due_date"
                mask="date"
                :rules="['date']"
                label="Tenggat Waktu"
                @change="isChanged = true"
              >
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="formattedDueDate" @input="() => $refs.qDateProxy.hide()" />
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </q-card-section>
          </div>

          <div class="col-md-6 col-sm-12">
            <q-card-section>
              <q-input
                square
                @change="isChanged = true"
                v-model="formattedOrderTime"
                readonly
                label="Waktu Pesan" /> 
            </q-card-section>
          </div>
        </div>
      </q-card>
      <div class="q-py-md q-gutter-sm float-right">
          <q-btn @click="handleBack">Kembali</q-btn>
          <q-btn @click="updateOrder" color="primary">Simpan</q-btn>
      </div>
    </div>
    <q-dialog v-model="backDialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Kamu yakin tidak ingin melanjutkan edit order?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Tidak" color="primary" v-close-popup />
          <q-btn flat label="Ya" color="primary" @click="$router.back()" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'OrderForm',
  props: {
    detail: {
      type: Object
    },
    title: {
      type: String
    }
  },
  data () {
    return {
      backDialog: false,
      isChanged: false,
      designImageDialog: false,
      yesNoValues: [0, 1],
      yesNoOptions: ['Belum', 'Ya']
    }
  },
  computed: {
    formattedDueDate: {
      get: function() {
        return this.$moment(this.detail.due_date).format("YYYY/MM/DD")
      },
      set: function(val) {
        this.isChanged = true

        this.detail.due_date = val
      }
    },
    formattedIsDpPaid: {
      get: function() {
        return this.detail.is_dp_paid ? 'Ya' : 'Belum'
      },
      set: function(val) {
        this.isChanged = true 
        
        this.detail.is_dp_paid = val.toLowerCase() == 'ya' ? 1 : 0
      } 
    },
    formattedIsPaidOff: {
      get: function() {
        return this.detail.is_paid_off ? 'Ya' : 'Belum'
      },
      set: function(val) {
        this.isChanged = true

        this.detail.is_paid_off = val.toLowerCase() == 'ya' ? 1 : 0
      } 
    },
    formattedOrderTime: function() {
      return this.$moment(this.detail.order_time).format("LLL")
    }
  },
  methods: {
    handleBack: function() {
      if (this.isChanged) {
        this.backDialog = true
      } else {
        this.$router.back()
      }
    },
    updateOrder: function() {
      this.$q.loading.show({
        message: "Mengubah order..."
      })

      const orderId = this.$route.params.id

      const data = {
        name: this.detail.name,
        address: this.detail.address,
        phone_number: this.detail.phone_number,
        type: this.detail.type,
        material: this.detail.material,
        total: this.detail.total,
        detail: this.detail.detail,
        due_date: this.$moment(this.detail.due_date).format("YYYY-MM-DD"),
        is_dp_paid: this.detail.is_dp_paid,
        is_paid_off: this.detail.is_paid_off
      }

      this.$axios.put("admin/order/" + orderId, data)
        .then(response => {
          if (response.data.success) {
            this.$q.notify({
              message: "Order berhasil diupdate!"
            })

            this.$router.push('/order')

          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: "red"
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error,
            color: "red"
          })
        })
        .finally(() => {
          this.$q.loading.hide()
        })
    }
  }
}
</script>
