<template>
  <q-page padding>
    <global-form
      :detail="detail"
      :details="itemDetails"
      :title="title"
      :fields="fields"
      endpoint="admin/request/expenditure"
      basePath="/request/expenditure"
      action="create"
    >
      <template v-slot:detail>
        <q-card-section>
          <div class="text-h5">Rincian</div>
        </q-card-section>

        <q-separator inset />

        <div class="row" v-for="(item, index) in itemDetails" :key="index">
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.material"
                label="Nama Bahan"
              />
            </q-card-section>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.amount"
                label="Jumlah"
              />
            </q-card-section>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.vendor"
                label="Vendor"
              />
            </q-card-section>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.unit"
                label="Satuan"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                type="number"
                v-model="item.total_price"
                label="Biaya"
              />
            </q-card-section>
          </div>
          <div class="col-md-1 col-sm-12 col-xs-12">
            <q-card-section>
              <q-btn
                class="delete-detail"
                icon="delete"
                color="red"
                @click="handleDeleteDetail(index)"
              />
            </q-card-section>
          </div>
        </div>
      </template>

      <template v-slot:append-button>
        <q-btn
          label="Tambah Rincian"
          color="green"
          @click="handleAddDetail"
        />
      </template>
    </global-form>
  </q-page>
</template>

<script>
export default {
  name: 'ExpenditureRequestCreatePage',
  components: {
    GlobalForm: () => import('components/global/Form')
  },
  data: function() {
    return {
      detail: {
        date: '',
        details: []
      },
      itemDetails: [
        {
          material: null,
          amount: null,
          vendor: null,
          unit: null,
          total_price: null,
        }
      ],
      title: 'Buat Expenditure Request',
      fields: [
        { title: 'Tanggal', name: 'date', type: "date" }
      ]
    }
  },
  methods: {
    handleAddDetail () {
      this.itemDetails.push({
        material: null,
        amount: null,
        vendor: null,
        unit: null,
        total_price: null,
      })
    },
    handleDeleteDetail (index) {
      this.itemDetails.splice(index, 1)
    }
  }
}
</script>

<style scoped>
  .delete-detail {
    margin-top: 15px;
  }
</style>
