<template>
  <q-page padding>
    <!-- content -->
    <global-detail
      :title="title"
      :fields="fields"
      :detail="detail"
      :isLoading="isLoading"
      endpoint="admin/request/expenditure"
      basePath="/request/expenditure"
    >
      <template v-slot:detail>
        <q-card-section>
          <div class="text-h5">Rincian</div>
        </q-card-section>

        <q-separator inset />

        <q-card-section>
          <q-table
            class="request-details-table"
            :data="detail.details"
            :columns="detailColumns"
          ></q-table>
        </q-card-section>
      </template>
    </global-detail>
  </q-page>
</template>

<script>
export default {
  name: 'expenditureRequestDetailPage',
  data: function() {
    return {
      fields: [
        {title: 'Kode', name: 'request_code'},
        {title: 'Tanggal', name: 'date'},
      ],
      detail: {},
      detailColumns: [
        { name: 'material', align: 'left', label: 'Nama Bahan', field: 'material', sortable: false },
        { name: 'amount', align: 'left', label: 'Jumlah', field: 'amount', sortable: false },
        { name: 'vendor', align: 'left', label: 'Vendor', field: 'vendor', sortable: false },
        { name: 'unit', align: 'left', label: 'Satuan', field: 'unit', sortable: false },
        { name: 'formatted_price_per_unit', align: 'left', label: 'Harga satuan', field: 'formatted_price_per_unit', sortable: false },
        { name: 'formatted_total_price', align: 'left', label: 'Biaya', field: 'formatted_total_price', sortable: false }
      ],
      title: 'Detail Expenditure Request',
      isLoading: false
    }
  },
  components: {
    GlobalDetail: () => import('components/global/Detail')
  },
  methods: {
    getOrderDetail: function() {
      // first, check whether material detail is already exist in localStorage
      const expenditureRequestDetail = localStorage.getItem('expenditureRequestDetail')

      if (!expenditureRequestDetail) {
        const id = this.$route.params.id

        this.isLoading = true

        this.$axios.get('admin/request/expenditure/' + id)
          .then(response => {
            const data = response.data.data

            // save retrieved order detail data to localStorage
            localStorage.setItem('expenditureRequestDetail', JSON.stringify(data))

            this.detail = data
          })
          .catch(error => {
            alert(error)
          })
          .finally(() => {
            this.isLoading = false
          })
      } else {
        this.detail = JSON.parse(localStorage.getItem('expenditureRequestDetail'))
      }
    }
  },
  created: function() {
    this.getOrderDetail()
  }
}
</script>

<style scoped>
  .request-details-table {
    box-shadow: none;
  }
</style>
