<template>
  <q-page class="row justify-center items-center">
    <div class="column">
      <div class="row justify-center">
        <h4 class="text-h4">Kojo Admin</h4>
      </div>
      <div class="row">
        <q-card class="login-card" square bordered>
          <q-linear-progress v-show="loginProgress" indeterminate />
          <div class="q-pa-lg shadow-1">
            <q-card-section>
              <q-form>
                <q-input v-model="email" type="email" label="Email" />
                <q-input v-model="password" type="password" label="Password" />
              </q-form>
            </q-card-section>
            <q-card-actions class="q-px-md">
              <q-btn color="primary" class="full-width" label="Login" @click="doLogin" />
            </q-card-actions>
            <q-card-section class="text-center q-py-none" style="padding-top: 10px">
              <a style="color: grey;" href="#" @click.prevent="forgotPasswordDialog = true">Lupa kata sandi?</a>
            </q-card-section>
            <q-dialog v-model="forgotPasswordDialog">
              <q-card>
                <q-card-section>
                  Jika kamu lupa kata sandi, harap hubungi Admin ya!
                </q-card-section>
                <q-card-section>
                  <div class="q-py-md q-gutter-md float-right">
                    <q-btn color="primary" class="full-width" v-close-popup>Oke</q-btn>
                  </div>
                </q-card-section>
              </q-card>
            </q-dialog>
          </div>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'LoginIndexPage',
  data () {
    return {
      email: '',
      password: '',
      forgotPasswordDialog: false,
      loginProgress: false,
    }
  },
  methods: {
    doLogin: function() {
      const params = {
        email: this.email,
        password: this.password
      }

      this.loginProgress = true

      this.$axios.post("auth/login", params)
        .then(response => {
          if (response.data.success) {
            localStorage.setItem('jwtToken', response.data.data.token)
            this.$router.push('/dashboard');
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: "red"
            })
          }
        }).catch(error => {
          this.$q.notify({
            message: error.message,
            color: "red"
          })
        }).finally(() => {
          this.loginProgress = false
        })
    }
  }
}

</script>

<style>
.login-card {
  width: 360px;
}
</style>