<template>
  <q-page padding>
    <mapping-form :title="title" />
  </q-page>
</template>

<script>
export default {
  name: 'ButtonCreatePage',
  components: {
    MappingForm: () => import('components/clothing/mapping/Form')
  },
  data: function() {
    return {
      detail: {
        code: '',
        name: '',
        description: ''
      },
      title: 'Map Atribut',
      fields: [
        { title: 'Kode', name: 'code' },
        { title: 'Nama', name: 'name' },
        { title: 'Deskripsi', name: 'description' },
      ]
    }
  }
}
</script>
