<template>
  <q-page padding>
    <global-form
      :detail="detail"
      :details="itemDetails"
      :title="title"
      :fields="fields"
      endpoint="admin/disbursement/cash"
      basePath="/disbursement/cash/purchase_request"
      action="update"
    >
      <template v-slot:append>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <q-card-section>
            <q-select
              label="Kode PR"
              :options="purchaseRequests"
              option-label="request_code"
              option-value="id"
              emit-value
              map-options
              readonly
              v-model="detail.request_id"
              @input="handlePrChange"
            />
          </q-card-section>
        </div>
      </template>


      <template v-slot:detail>
        <q-card-section>
          <div class="text-h5">Rincian</div>
        </q-card-section>

        <q-separator inset />

        <div class="row" v-for="(item, index) in itemDetails" :key="index">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-select
                :options="materialOptions"
                option-label="material"
                option-value="id"
                emit-value
                map-options
                v-model="item.type"
                label="Jenis"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.amount"
                label="Jumlah"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="text"
                square
                v-model="item.transfer_to"
                label="Transfer To"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="text"
                square
                v-model="item.cash_from"
                label="Cash From"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.account_number"
                label="Nomor Rekening"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.bank_name"
                label="Nama Bank"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.status"
                label="Status"
              />
            </q-card-section>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.remark"
                label="Catatan"
              />
            </q-card-section>
          </div>
          <div class="col-md-1 col-sm-12 col-xs-12">
            <q-card-section>
              <q-btn
                class="delete-detail"
                icon="delete"
                color="red"
                @click="handleDeleteDetail(index)"
              />
            </q-card-section>
          </div>
        </div>
      </template>

      <template v-slot:append-button>
        <q-btn
          label="Tambah Rincian"
          color="green"
          @click="handleAddDetail"
        />
      </template>
    </global-form>
  </q-page>
</template>

<script>
export default {
  name: 'PurchaseRequestEditPage',
  components: {
    GlobalForm: () => import('components/global/Form')
  },
  data: function() {
    return {
       detail: {
        date: null,
        request_id: null,
        disbursement_for: 'ER',
        details: []
      },
      itemDetails: [
        {
          type: null,
          amount: null,
          status: null,
          remark: null,
          transfer_to: null,
          cash_from: null,
          bank_name: null,
          account_number: null,
        }
      ],
      title: 'Ubah Cash Disbursement',
      fields: [
        { title: 'Tanggal', name: 'date', type: "date" }
      ],
      purchaseRequests: [],
      selectedPurchaseRequest: null,
      materialOptions: []
    }
  },
  methods: {
    handleAddDetail () {
      this.itemDetails.push({
          type: null,
          amount: null,
          status: null,
          remark: null,
          transfer_to: null,
          cash_from: null,
          bank_name: null,
          account_number: null,
        })
    },
    handleDeleteDetail (index) {
      this.itemDetails.splice(index, 1)
    },
    getPurchaseRequestDetail(id) {
      this.$axios.get(`admin/request/purchase/${id}`)
        .then(response => {
          if (response.data.success) {
            this.purchaseRequests.push(response.data.data)
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: 'red'
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error.message,
            color: 'red'
          })
        })
    },
    handlePrChange() {
      this.materialOptions = this.purchaseRequests.find(purchaseRequest => purchaseRequest.id == this.detail.request_id).details
    }
  },
  created: function() {
    const purchaseRequestDisbursementDetail = localStorage.getItem('purchaseRequestDisbursementDetail')

    this.detail = JSON.parse(purchaseRequestDisbursementDetail)
    this.getPurchaseRequestDetail(this.detail.request_id)
    this.itemDetails = this.detail.details
  }
}
</script>

<style scoped>
  .delete-detail {
    margin-top: 15px;
  }
</style>
