<template>
  <q-page padding>
    <global-form
      :detail="detail"
      :details="itemDetails"
      :title="title"
      :fields="fields"
      endpoint="admin/job_sheet"
      basePath="/production/job_sheet"
      action="create"
    >
      <template v-slot:detail>
        <q-card-section>
          <div class="text-h5">Rincian</div>
        </q-card-section>

        <q-separator inset />

        <div class="row" v-for="(item, index) in itemDetails" :key="index">
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-select
                :options="orderOptions"
                option-label="order_ref"
                option-value="id"
                emit-value
                map-options
                v-model="item.order_id"
                label="Order"
              />
            </q-card-section>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="text"
                v-model="item.title"
                label="Nama Order"
              />
            </q-card-section>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="date"
                square
                stack-label
                v-model="item.production_due_date"
                label="Deadline Produksi"
              />
            </q-card-section>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-select
                :options="status"
                square
                option-label="name"
                option-value="code"
                v-model="item.status"
                label="Status"
                emit-value
                map-options
                @input="handleStatusChange(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-1 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.percentage"
                label="%"
              />
            </q-card-section>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.remark"
                label="Catatan"
              />
            </q-card-section>
          </div>
          <div class="col-md-1 col-sm-12 col-xs-12">
            <q-card-section>
              <q-btn
                class="delete-detail"
                icon="delete"
                color="red"
                @click="handleDeleteDetail(index)"
              />
            </q-card-section>
          </div>
        </div>
      </template>

      <template v-slot:append-button>
        <q-btn
          label="Tambah Rincian"
          color="green"
          @click="handleAddDetail"
        />
      </template>
    </global-form>
  </q-page>
</template>

<script>
export default {
  name: 'JobSheetCreatePage',
  components: {
    GlobalForm: () => import('components/global/Form')
  },
  data: function() {
    return {
      detail: {
        code: null,
        batch: null,
        start_date: null,
        end_date: null,
        details: []
      },
      itemDetails: [{
        order_id: null,
        title: null,
        production_due_date: null,
        percentage: null,
        status: null,
        remark: null
      }],
      title: 'Buat Job Sheet',
      fields: [
        { title: 'Batch', name: 'batch', type: "number" },
        { title: 'Start Date', name: 'start_date', type: "date" },
        { title: 'End Date', name: 'end_date', type: "date" }
      ],
      selectedStatus: null,
      orderOptions: [],
      statuses: ['MATERIALIZING', 'CUTTING', 'SEWING', 'SCREEN_PRINTING', 'EMBROIDERING', 'BUTTONING', 'PIPING', 'PACKING'],
      status: [{
        code: 'MATERIALIZING',
        name: 'Bahan'
      }, {
        code: 'CUTTING',
        name: 'Potong'
      }, {
        code: 'SEWING',
        name: 'Jahit'
      }, {
        code: 'SCREEN_PRINTING',
        name: 'Sablon'
      }, {
        code: 'EMBROIDERING',
        name: 'Border'
      }, {
        code: 'BUTTONING',
        name: 'Kancing'
      }, {
        code: 'PIPING',
        name: 'Obras'
      }, {
        code: 'PACKING',
        name: 'Packing'
      }]
    }
  },
  methods: {
    handleAddDetail () {
      this.itemDetails.push({
        order_id: null,
        title: null,
        production_due_date: null,
        percentage: null,
        status: null,
        remark: null
      })
    },
    handleDeleteDetail (index) {
      this.itemDetails.splice(index, 1)
    },
    handleStatusChange(i) {
      let tmp = this.itemDetails[i].status
      let index = this.statuses.findIndex(function(status) {
        return status == tmp
      })
      this.itemDetails[i].percentage = parseInt((index + 1) / this.statuses.length * 100)
    },
    getOrders() {
      this.$axios.get('admin/job_sheet/orders')
        .then(response => {
          if (response.data.success) {
            this.orderOptions = response.data.data
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: 'red'
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error.message,
            color: 'red'
          })
        })
    }
  },
  created() {
    this.getOrders()
  }
}
</script>

<style scoped>
  .delete-detail {
    margin-top: 15px;
  }
</style>
