<template>
  <q-page padding>
    <!-- content -->
    <global-detail
      :title="title"
      :fields="fields"
      :detail="detail"
      :isLoading="isLoading"
      endpoint="admin/job_sheet"
      basePath="/production/job_sheet"
    >
      <template v-slot:detail>
        <q-card-section>
          <div class="text-h5">Rincian</div>
        </q-card-section>

        <q-separator inset />

        <q-card-section>
          <q-table
            class="request-details-table"
            :data="detail.details"
            :columns="detailColumns"
          ></q-table>
        </q-card-section>
      </template>
    </global-detail>
  </q-page>
</template>

<script>
export default {
  name: 'JobSheetDetailPage',
  data: function() {
    return {
      fields: [
        { title: 'Batch', name: 'batch' },
        { title: 'Code', name: 'code' },
        { title: 'Start Date', name: 'start_date' },
        { title: 'End Date', name: 'end_date' }
      ],
      detail: {},
      detailColumns: [
        { name: 'order_ref', align: 'left', label: 'Order Ref', field: 'order_ref', sortable: false },
        { name: 'title', align: 'left', label: 'Nama Order', field: 'title', sortable: false },
        { name: 'production_due_date', align: 'left', label: 'Deadline Produksi', field: 'production_due_date', sortable: false },
        { name: 'status', align: 'left', label: 'Status', field: 'status', sortable: false },
        { name: 'remark', align: 'left', label: 'Catatan', field: 'remark', sortable: false }
      ],
      title: 'Detail Job Sheet',
      isLoading: false
    }
  },
  components: {
    GlobalDetail: () => import('components/global/Detail')
  },
  methods: {
    getDetail: function() {
      // first, check whether material detail is already exist in localStorage
      const jobSheetDetail = localStorage.getItem('jobSheetDetail')

      if (!jobSheetDetail) {
        const id = this.$route.params.id

        this.isLoading = true

        this.$axios.get('admin/job_sheet/' + id)
          .then(response => {
            const data = response.data.data

            // save retrieved order detail data to localStorage
            localStorage.setItem('jobSheetDetail', JSON.stringify(data))

            this.detail = data
          })
          .catch(error => {
            alert(error)
          })
          .finally(() => {
            this.isLoading = false
          })
      } else {
        this.detail = JSON.parse(localStorage.getItem('jobSheetDetail'))
      }
    }
  },
  created: function() {
    this.getDetail()
  }
}
</script>

<style scoped>
  .request-details-table {
    box-shadow: none;
  }
</style>
