<template>
  <q-page padding>
    <global-form
      :detail="detail"
      :title="title"
      :fields="fields"
      endpoint="admin/clothing/type"
      basePath="/clothing/type"
      action="update" >
    </global-form>
  </q-page>
</template>

<script>
export default {
  name: 'TypeEditPage',
  components: {
    GlobalForm: () => import('components/global/Form')
  },
  data: function() {
    return {
      detail: {},
      fields: [
        {title: 'Kode', name: 'code'},
        {title: 'Nama', name: 'name'},
        {title: 'Deskripsi', name: 'description'}
      ],
      title: 'Edit Jenis Pakaian'
    }
  },
  created: function() {
    const orderDetail = localStorage.getItem('typeDetail')
    
    this.detail = JSON.parse(orderDetail)
  }
}
</script>
