<template>
  <div>
    <div class="q-pa-sm">
      <q-btn color="primary" icon="mdi-arrow-left" @click="$router.back()" />
    </div>
    <div class="q-pa-sm">
      <q-card>
        <q-card-section>
          <div class="text-h5">{{ title }}</div>
        </q-card-section>

        <q-separator inset />

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <q-card-section>
              <q-select
                label="Kode Order"
                v-model="order"
                :options="orders"
                option-label="order_code"
                @filter="filterOrder"
                emit-value
                use-input
                hide-selected
                fill-input
                input-debounce="0"
                map-options
                @input="handleOrderChange"
                :readonly="action == 'edit'"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </q-card-section>
          </div>

          <div class="col-sm-12 col-md-6">
            <q-card-section>
              <q-input
                label="Baraya Kojo"
                v-model="invoice.name"
              >
              </q-input>
            </q-card-section>
          </div>

          <div class="col-sm-12 col-md-6">
            <q-card-section>
              <q-input
                label="Institusi"
                v-model="invoice.institution"
              >
              </q-input>
            </q-card-section>
          </div>

          <div class="col-sm-12 col-md-6">
            <q-card-section>
              <q-input
                label="Alamat"
                v-model="invoice.address"
                autogrow
              >
              </q-input>
            </q-card-section>
          </div>

          <div class="col-sm-12 col-md-6">
            <q-card-section>
              <q-input
                label="Nomor Kontak"
                v-model="invoice.phone_number"
                autogrow
              >
              </q-input>
            </q-card-section>
          </div>

          <div class="col-sm-12 col-md-6">
            <q-card-section>
              <q-input
                label="Status Order"
                v-model="invoice.order_status"
              >
              </q-input>
            </q-card-section>
          </div>

          <div class="col-sm-12 col-md-6">
            <q-card-section>
              <q-input
                label="Tanggal Masuk"
                stack-label
                v-model="invoice.enter_date"
                type="date"
              >
              </q-input>
            </q-card-section>
          </div>

          <div class="col-sm-12 col-md-6">
            <q-card-section>
              <q-input
                label="Tanggal Keluar"
                stack-label
                v-model="invoice.exit_date"
                type="date"
              >
              </q-input>
            </q-card-section>
          </div>

          <div class="col-sm-12 col-md-6">
            <q-card-section>
              <q-select
                label="Metode Pembayaran"
                v-model="invoice.payment_method"
                :options="paymentMethodOptions"
              >
              </q-select>
            </q-card-section>
          </div>

          <div class="col-sm-12 col-md-6">
            <q-card-section>
              <q-input
                label="Ongkir"
                v-model="invoice.delivery_fee"
                type="number"
              >
              </q-input>
            </q-card-section>
          </div>

          <div class="col-sm-12 col-md-12">
            <q-card-section>
              <q-select
                label="Lunas?"
                v-model="invoice.is_paid_off"
                map-options
                emit-value
                option-value="code"
                option-label="name"
                :options="paidOffOptions"
                type="number"
              >
              </q-select>
            </q-card-section>
          </div>
        </div>

        <template v-show="showDetail">
          <q-card-section>
            <div class="text-h5">Rincian</div>
          </q-card-section>

          <q-separator inset />

          <div class="row" v-for="(item, key) in invoiceDetail" :key="key">
            <div class="col-sm-12 col-md-2">
              <q-card-section>
                <q-input
                  label="Nama Barang"
                  v-model="invoiceDetail[key].type"
                >
                </q-input>
              </q-card-section>
            </div>
            <div class="col-sm-12 col-md-2">
              <q-card-section>
                <q-input
                  label="Bahan"
                  v-model="invoiceDetail[key].material"
                >
                </q-input>
              </q-card-section>
            </div>
            <div class="col-sm-12 col-md-2">
              <q-card-section>
                <q-input
                  label="Jenis Lengan"
                  v-model="invoiceDetail[key].sleeve"
                >
                </q-input>
              </q-card-section>
            </div>
            <div class="col-sm-12 col-md-2">
              <q-card-section>
                <q-input
                  label="Ukuran"
                  v-model="invoiceDetail[key].size"
                >
                </q-input>
              </q-card-section>
            </div>
            <div class="col-sm-12 col-md-2">
              <q-card-section>
                <q-input
                  label="Jumlah"
                  v-model="invoiceDetail[key].quantity"
                >
                </q-input>
              </q-card-section>
            </div>
            <div class="col-sm-12 col-md-2">
              <q-card-section>
                <q-input
                  label="Harga Satuan"
                  v-model="invoiceDetail[key].price"
                  type="number"
                >
                </q-input>
              </q-card-section>
            </div>
          </div>

        </template>
      </q-card>
      <div class="q-py-md q-gutter-sm float-right">
          <q-btn>Kembali</q-btn>
          <q-btn color="primary" @click="handleSave">Simpan</q-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InvoiceForm',
  props: {
    title: {
      type: String
    },
    action: {
      type: String
    }
  },
  data () {
    return {
      showDetail: false,
      order: null,
      orders: [],
      orderOptions: [],
      types: [],
      materials: [],
      invoice: {
        order_id: null,
        order_code: null,
        name: null,
        institution: null,
        address: null,
        phone_number: null,
        order_status: null,
        enter_date: null,
        exit_date: null,
        payment_method: null,
        price: null,
        delivery_fee: null,
        total_price: null,
        is_paid_off: null,
        detail: null
      },
      invoiceDetail: [],
      paidOffOptions: [{
        code: 0,
        name: 'Tidak'
      }, {
        code: 1,
        name: 'Lunas'
      }],
      orderStatusMap: {
        'FULL_ORDER': 'Full Order',
        'MAKLOON': 'Makloon'
      },
      paymentMethodOptions: ['Cash', 'Transfer']
    }
  },
  computed: {
    fullAddress() {
      return `${this.order.address_street} Kelurahan ${this.order.address_village} Kecamatan ${this.order.address_kecamatan} Kabupaten ${this.order.address_city} ${this.order.address_postal_code}`
    }
  },
  methods: {
    getOrders() {
      this.$axios.get('admin/order')
        .then(response => {
          if (response.data.success) {
            this.orders = response.data.data
            this.orderOptions = response.data.data
          } else {
            this.handleError(response.data.errors.message)
          }
        })
        .catch(error => {
          this.handleError(error.message)
        })
    },
    getOrderDetail(id) {
      this.$axios.get(`admin/order/${id}`)
        .then(response => {
          if (response.data.success) {
            this.orders.push(response.data.data)
            this.orderOptions.push(response.data.data)
            this.order = response.data.data
          } else {
            this.handleError(response.data.errors.message)
          }
        })
        .catch(error => {
          this.handleError(error.message)
        })
    },
    getTypes() {
      this.$axios.get('admin/clothing/type')
        .then(response => {
          if (response.data.success) {
            for (let type of response.data.data) {
              this.types[type.code] = type.name
            }
          } else {
            this.handleError(response.data.errors.message)
          }
        })
    },
    getMaterials() {
      this.$axios.get('admin/clothing/material')
        .then(response => {
          if (response.data.success) {
            for (let material of response.data.data) {
              this.materials[material.code] = material.name
            }
          } else {
            this.handleError(response.data.errors.message)
          }
        })
    },
    handleOrderChange() {
      this.invoice = {
        order_id: this.order.id,
        order_code: this.order.order_code,
        name: this.order.name,
        institution: this.order.institution,
        address: this.fullAddress,
        phone_number: this.order.phone_number,
        order_status: this.orderStatusMap[this.order.order_status.toUpperCase()],
        enter_date: this.$moment(this.order.order_time).format("YYYY-MM-DD"),
        exit_date: this.order.completed_time ? this.$moment(this.order.completed_time).format("YYYY-MM-DD") : null,
        is_paid_off: this.order.is_paid_off
      }

      this.invoiceDetail = []

      for (let item of this.order.detail) {
        // todo
        this.invoiceDetail.push({
          type: this.types[this.order.type] == undefined ? this.order.type : this.types[this.order.type],
          material: this.materials[this.order.material] == undefined ? this.order.material : this.materials[this.order.material],
          sleeve: item.type,
          size: item.size,
          quantity: item.quantity,
          price: item.price
        })
      }

      this.showDetail = true
    },
    handleError(errorMessage) {
      this.$q.notify({
        message: errorMessage,
        color: 'red'
      })
    },
    filterOrder (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.orders = this.orderOptions.filter(v => v.order_code != null && v.order_code.toLowerCase().indexOf(needle) > -1)
      })
    },
    handleSave() {
      localStorage.removeItem('invoiceDetail')

      let total = 0

      for (let detail of this.invoiceDetail) {
        total += (parseInt(detail.quantity) * parseInt(detail.price))
      }

      this.invoice.price = total
      this.invoice.total_price = parseInt(this.invoice.price) + parseInt(this.invoice.delivery_fee)
      this.invoice.detail = JSON.stringify(this.invoiceDetail)

      this.$q.loading.show()

      this.$axios.post("admin/invoice/save", this.invoice)
        .then(response => {
          if (response.data.success) {
            this.$q.notify({
              message: 'Invoice berhasil disimpan!'
            })

            this.$router.back()
          } else {
            this.handleError(response.data.errors.message)
          }
        })
        .catch(error => {
          this.handleError(error.message)
        })
        .finally(() => {
          this.$q.loading.hide()
        })
    }
  },
  created: function() {
    this.getTypes()
    this.getMaterials()

    let invoiceDetail = JSON.parse(localStorage.getItem('invoiceDetail'))

    if (!invoiceDetail) {
      this.getOrders()
    } else {
      this.getOrderDetail(invoiceDetail.order_id)
      this.invoice = {
        order_id: invoiceDetail.order_id,
        order_code: invoiceDetail.order_code,
        name: invoiceDetail.name,
        institution: invoiceDetail.institution,
        address: invoiceDetail.address,
        phone_number: invoiceDetail.phone_number,
        order_status: invoiceDetail.order_status,
        enter_date: invoiceDetail.enter_date,
        exit_date: invoiceDetail.exit_date,
        delivery_fee: invoiceDetail.delivery_fee,
        payment_method: invoiceDetail.payment_method,
        is_paid_off: invoiceDetail.is_paid_off
      }

      this.invoiceDetail = invoiceDetail.detail
    }
  }
}
</script>
