<template>
  <q-page padding>
    <!--
      Use specific OrderDetail component because it need
    -->
    <global-detail
      :title="title"
      :fields="fields"
      :detail="detail"
      :isLoading="isLoading"
      basePath="/order"
    >
      <template v-slot:shimmering>
        <div class="col-md-6 col-sm-12">
          <q-item v-ripple>
            <q-item-section>
              <q-item-label>
                <q-skeleton type="rect" width="30%"></q-skeleton>
              </q-item-label>
              <q-item-label caption>
                <q-skeleton type="text" width="50%"></q-skeleton>
              </q-item-label>
            </q-item-section>
          </q-item>
        </div>
      </template>

      <template v-slot:append>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <q-item>
            <q-item-section>
              <q-item-label>Desain</q-item-label>
              <q-item-label caption v-if="!detail.design_url">Tidak ada</q-item-label>
              <div class="row" v-else>
                <div class="col-3 q-py-sm">
                  <q-btn
                    size="md"
                    color="primary"
                    label="Pratinjau"
                    @click="designImageDialog = true"
                      />
                  <q-dialog
                    v-model="designImageDialog">
                      <div class="row">
                        <q-card>
                          <q-card-section>
                            <q-img
                              :src="detail.design_url"
                              spinner-color="white"
                              style="width: 400px; height: auto" />

                          </q-card-section>
                          <q-card-section>
                            <div class="row justify-center">
                              <a style="text-decoration: none" :href="detail.design_url" target="_blank" rel="noopener noreferrer">
                                <q-btn color="green" label="Download"/>
                              </a>
                            </div>
                          </q-card-section>
                          <q-card-section>
                            <div class="q-py-md q-gutter-xs float-right">
                              <q-btn color="primary" label="Close" v-close-popup />
                            </div>
                          </q-card-section>
                        </q-card>
                      </div>
                  </q-dialog>
                </div>
              </div>
            </q-item-section>
          </q-item>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12" v-for="([k, val], key) in itemDetails" :key="'item_' + key">
          <q-item v-ripple>
            <q-item-section>
              <q-item-label>
                {{ labels[k] == undefined ? k : labels[k] }}
              </q-item-label>
              <q-item-label caption>
                {{ val || "-" }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </div>
      </template>

      <template v-slot:append-button>
        <q-dialog v-model="processDialog">
          <q-card>
            <q-card-section>
              Apakah kamu yakin memproses order ini?
            </q-card-section>
            <q-card-section caption>
              <em style="font-size: 10pt">Catatan: jika Ya, maka order akan ditangani oleh tim produksi</em>
            </q-card-section>
            <q-card-section>
              <div class="q-py-md q-gutter-md float-right">
                <q-btn v-close-popup>Tidak</q-btn>
                <q-btn color="primary" @click="processOrder" v-close-popup>Ya</q-btn>
              </div>
            </q-card-section>
          </q-card>
        </q-dialog>
        <q-dialog v-model="rejectDialog">
          <q-card>
            <q-card-section caption>
              <q-input
                style="width: 300px"
                autogrow
                v-model="remark"
                label="Alasan Ditolak" />
            </q-card-section>
            <q-card-section>
              <div class="q-py-md q-gutter-md float-right">
                <q-btn color="primary" v-close-popup>Batal</q-btn>
                <q-btn @click="rejectOrder" v-close-popup>OK</q-btn>
              </div>
            </q-card-section>
          </q-card>
        </q-dialog>
        <q-btn v-if="detail.status == 'NEW'" color="orange" @click="rejectDialog = true" label="Tolak" />
        <q-btn v-if="detail.status == 'NEW'" color="green" @click="processDialog = true" label="Proses" />
        <q-btn v-show="!detail.has_request" @click="$router.push(`/order/${$route.params.id}/request/create`)" color="primary" label="Buat Request Document" />
        <q-btn v-show="detail.has_request" @click="$router.push(`/order/${$route.params.id}/request`)" color="primary" label="Lihat Request Document" />
      </template>

      <template v-slot:detail>
        <q-card-section>
          <div class="text-h5">Rincian</div>
        </q-card-section>

        <q-separator inset />

        <q-card-section>
          <div class="row" v-for="(item, key) in detail.detail" :key="'detail_' + key">
            <div class="col-md-4 col-sm-12">
              <q-item v-ripple>
                <q-item-section>
                  <q-item-label>
                    Jenis Lengan
                  </q-item-label>
                  <q-item-label caption>
                    {{ item.type || "-" }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <div class="col-md-4 col-sm-12">
              <q-item v-ripple>
                <q-item-section>
                  <q-item-label>
                    Ukuran
                  </q-item-label>
                  <q-item-label caption>
                    {{ item.size }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <div class="col-md-4 col-sm-12">
              <q-item v-ripple>
                <q-item-section>
                  <q-item-label>
                    Jumlah
                  </q-item-label>
                  <q-item-label caption>
                    {{ item.quantity }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
        </q-card-section>
      </template>
    </global-detail>
  </q-page>
</template>

<script>
export default {
  name: 'OrderDetailPage',
  data: function() {
    return {
      fields: [
        {title: 'Order Ref', name: 'order_ref'},
        {title: 'Nama', name: 'name'},
        {title: 'Alamat', name: 'address'},
        {title: 'Nomor HP', name: 'phone_number'},
        {title: 'Jenis', name: 'type'},
        {title: 'Bahan', name: 'material'},
        {title: 'Total Pesanan', name: 'total'},
        {title: 'Tenggat Waktu', name: 'due_date'},
        {title: 'Sudah DP', name: 'is_dp_paid'},
        {title: 'Sudah Bayar', name: 'is_paid_off'},
        {title: 'Waktu Pesan', name: 'order_time'},
        {title: 'Status', name: 'status'}
      ],
      detail: {},
      labels: {
        'jacket_type': 'Jenis Jaket',
        'embroidery_point': 'Jumlah Titik Bordir',
        'embroidery_notes': 'Catatan Bordir',
        'screen_printing': 'Jenis Sablon',
        'screen_printing_notes': 'Catatan Sablon',
        'button': 'Jenis Kancing',
        'use_perepet': 'Menggunakan Perepet?',
        'kur_rope': 'Tali Kur',
        'stopper': 'Stoper',
        'zipper': 'Seleting',
        'puring': 'Puring',
      },
      title: 'Detail Order',
      isLoading: false,
      processDialog: false,
      rejectDialog: false,
      designImageDialog: false,
      remark: ''
    }
  },
  components: {
    GlobalDetail: () => import('components/global/Detail')
  },
  methods: {
    processOrder: function() {
      this.$q.loading.show({
        message: "Memproses order..."
      })

      this.$axios.put(`admin/order/${this.$route.params.id}/process`)
        .then(response => {
          if (response.data.success) {
            this.$q.notify({
              message: "Order berhasil diperoses!"
            })

            this.$router.back()
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: "red"
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error,
            color: "red"
          })
        })
        .finally(() => {
          this.$q.loading.hide()
        })
    },
    rejectOrder: function() {
      this.$q.loading.show({
        message: "Menolak order..."
      })

      this.$axios.put(`admin/order/${this.$route.params.id}/reject`, {remark: this.remark})
        .then(response => {
          if (response.data.success) {
            this.$q.notify({
              message: "Order berhasil ditolak!"
            })

            this.$router.back()
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: "red"
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error,
            color: "red"
          })
        })
        .finally(() => {
          this.$q.loading.hide()
        })
    },
    getOrderDetail: function() {
      // first, check whether order detail is already exist in localStorage
      const orderDetail = localStorage.getItem('orderDetail')

      // if order detail weren't exist, then fetch from API
      if (!orderDetail) {
        const id = this.$route.params.id

        this.isLoading = true
        this.$axios.get('admin/order/' + id)
          .then(response => {
            const data = response.data.data

            // save retrieved order detail data to localStorage
            localStorage.setItem('orderDetail', JSON.stringify(data))

            data.due_date = this.$moment(data.due_date).format("LL")
            data.order_time = this.$moment(data.order_time).format('LLL')
            data.is_dp_paid = data.is_dp_paid ? 'Ya' : 'Belum'
            data.is_paid_off = data.is_paid_off ? 'Ya' : 'Belum'

            this.detail = data
          })
          .catch(error => {
            alert(error)
          })
          .finally(() => {
            this.isLoading = false
          })
      } else {
        // otherwise, set the detail with localStorage value
        this.detail = JSON.parse(orderDetail)
      }
    }
  },
  computed: {
    itemDetails() {
      return this.detail.order_detail == null ? {} : Object.entries(this.detail.order_detail)
    }
  },
  created: function() {
    this.getOrderDetail()
  }
}
</script>
