<template>
  <q-page padding>
    <order-form
      :detail="detail"
      :title="title" >
    </order-form>
  </q-page>
</template>

<script>
export default {
  name: 'OrderEditPage',
  components: {
    OrderForm: () => import('components/order/Form')
  },
  data: function() {
    return {
      detail: {},
      title: 'Edit Order'
    }
  },
  created: function() {
    const orderDetail = localStorage.getItem('orderDetail')
    
    this.detail = JSON.parse(orderDetail)
  }
}
</script>
