<template>
  <q-page padding>
    <global-table
      :title="title"
      :filter="filter"
      :loading="loading"
      :columns="columns"
      :data="data"
      :pagination="pagination"
      basePath="order" />
  </q-page>
</template>

<script>
export default {
  name: 'OrderIndexPage',
  components: {
    GlobalTable: () => import('components/global/Table')
  },
  data () {
    return {
      title: 'List Order Masuk',
      filter: '',
      loading: false,
      columns: [
        { name: 'order_ref', align: 'center', label: 'Order Ref', field: 'order_ref', sortable: true },
        { name: 'order_code', align: 'center', label: 'Kode Order', field: 'order_code', sortable: true },
        { name: 'name', align: 'center', label: 'Nama', field: 'name', sortable: true },
        { name: 'type', align: 'center', label: 'Jenis', field: 'type', sortable: true },
        { name: 'order_time', align: 'center', label: 'Tanggal Order', field: 'order_time', sortable: true },
        { name: 'due_date', align: 'center', label: 'Dead Line', field: 'due_date', sortable: true },
        { name: 'status', align: 'center', label: 'Status', field: 'status', sortable: true }
      ],
      pagination: {
        rowsPerPage: 10
      },
      data: []
    }
  },
  methods: {
    getOrders: function () {
      this.loading = true

      this.$axios.get('admin/order')
        .then(response => {
          if (response.data.success) {
            const data = response.data.data
            const result = []

            for (let item of data) {
              item.order_time = this.$moment(item.order_time).format('LLL')
              item.due_date = this.$moment(item.due_date).format('LL')

              result.push(item)
            }

            this.data = result
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: "red"
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error.message,
            color: "red"
          })
        })
        .finally(() => {
          this.loading = false
        })
    }
  },
  created: function() {
    localStorage.removeItem('orderDetail')
    localStorage.removeItem('requestDocumentDetail')
    this.getOrders()
  }
}
</script>
