<template>
  <q-page padding>
    <global-form
      :title="title"
      :detail="upsertPayload"
      :endpoint="upsertEndpoint"
      :basePath="upsertBasePath"
      action="upsert"
    >
      <template v-slot:append>
        <div class="col-md-6 col-sm-12">
          <q-card-section>
            <q-select
              :options="orders"
              option-label="order_code"
              label="Pilih Order"
              v-model="order"
              @filter="filterOrder"
              use-input
              hide-selected
              fill-input
              input-debounce="0"
            >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    Order tidak ditemukan
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
          </q-card-section>
        </div>
        <div class="col-md-6 col-sm-12">
          <q-card-section>
            <q-input
              readonly
              label="Nama Order"
              v-model="order.order_name"
            />
          </q-card-section>
        </div>
      </template>

      <template v-slot:detail>
        <q-card-section>
          <div class="text-h6">Purchase Request</div>
        </q-card-section>

        <q-separator inset />

        <div class="row" v-for="(item, index) in purchaseRequests" :key="'purchase_' + index">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.title"
                label="Nama Bahan"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.vendor"
                label="Vendor"
              />
            </q-card-section>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.unit"
                label="Satuan"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.quantity"
                label="Jumlah Satuan"
                @input="handlePurchaseTotalPrice(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.price_per_item"
                label="Biaya per Satuan"
                @input="handlePurchaseTotalPrice(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-5 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.total_price"
                label="Total Biaya"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                type="date"
                stack-label
                v-model="item.date"
                label="Tanggal"
              />
            </q-card-section>
          </div>
          <div class="col-md-1 float-right col-sm-12 col-xs-12">
            <q-card-section>
              <q-btn
                class="delete-detail"
                icon="delete"
                color="red"
                @click="handleDeletePurchaseData(index)"
              />
            </q-card-section>
          </div>
        </div>

        <q-card-section>
          <div class="text-h6">Expenditure Request</div>
        </q-card-section>

        <q-separator inset />

        <div class="row" v-for="(item, index) in expenditureRequests" :key="'expenditure_' + index">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.title"
                label="Nama Pengeluaran"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.vendor"
                label="Vendor"
              />
            </q-card-section>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.unit"
                label="Satuan"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.quantity"
                label="Jumlah Satuan"
                @input="handleExpenditureTotalPrice(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.price_per_item"
                label="Biaya per Satuan"
                @input="handleExpenditureTotalPrice(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-5 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.total_price"
                label="Total Biaya"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                type="date"
                stack-label
                v-model="item.date"
                label="Tanggal"
              />
            </q-card-section>
          </div>
          <div class="col-md-1 col-sm-12 col-xs-12">
            <q-card-section>
              <q-btn
                class="delete-detail"
                icon="delete"
                color="red"
                @click="handleDeleteExpenditureData(index)"
              />
            </q-card-section>
          </div>
        </div>

        <q-card-section>
          <div class="text-h6">Payroll Request</div>
        </q-card-section>

        <q-separator inset />

        <div class="row" v-for="(item, index) in payrollRequests" :key="'payroll_' + index">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                v-model="item.title"
                label="Nama Pekerja"
              />
            </q-card-section>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                v-model="item.vendor"
                label="Jasa"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                type="number"
                v-model="item.quantity"
                label="Jumlah Selesai"
                @input="handlePayrollTotalPrice(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.price_per_item"
                label="Biaya per Item"
                @input="handlePayrollTotalPrice(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.total_price"
                label="Total Biaya"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                type="date"
                stack-label
                v-model="item.date"
                label="Tanggal"
              />
            </q-card-section>
          </div>
          <div class="col-md-1 col-sm-12 col-xs-12">
            <q-card-section>
              <q-btn
                class="delete-detail"
                icon="delete"
                color="red"
                @click="handleDeletePayrollData(index)"
              />
            </q-card-section>
          </div>
        </div>
      </template>

      <template v-slot:append-button>
        <q-btn
          label="+ Purchase"
          color="green"
          @click="handleAddPurcaseData"
        />
        <q-btn
          label="+ Expenditure"
          color="green"
          @click="handleAddExpenditureData"
        />
        <q-btn
          label="+ Payroll"
          color="green"
          @click="handleAddPayrollData"
        />
      </template>
    </global-form>
  </q-page>
</template>

<script>
export default {
  name: 'RequestDocumentCreatePage',
  components: {
    GlobalForm: () => import('components/global/Form')
  },
  data: function() {
    return {
      purchaseRequests: [
        {
          id: null,
          order_id: null,
          category: 'PURCHASE',
          title: null,
          vendor: null,
          unit: null,
          quantity: null,
          price_per_item: null,
          total_price: null,
          date: this.$moment().format("YYYY-MM-DD"),
        }
      ],
      expenditureRequests: [
        {
          id: null,
          order_id: null,
          category: 'EXPENDITURE',
          title: null,
          vendor: null,
          unit: null,
          quantity: null,
          price_per_item: null,
          total_price: null,
          date: this.$moment().format("YYYY-MM-DD"),
        }
      ],
      payrollRequests: [
        {
          id: null,
          order_id: null,
          category: 'PAYROLL',
          title: null,
          vendor: null,
          unit: null,
          quantity: null,
          price_per_item: null,
          total_price: null,
          date: this.$moment().format("YYYY-MM-DD"),
        }
      ],
      title: 'Buat Request Document',
      orders: [],
      orderList: [],
      order: {
        id: null,
        order_code: '-- Pilih order --',
        order_name: ''
      }

    }
  },
  methods: {
    handleAddPurcaseData () {
      this.purchaseRequests.push({
        id: null,
        order_id: null,
        category: 'PURCHASE',
        title: null,
        vendor: null,
        unit: null,
        quantity: null,
        price_per_item: null,
        total_price: null,
        date: this.$moment().format("YYYY-MM-DD"),
      })
    },
    handleAddExpenditureData () {
      this.expenditureRequests.push({
        id: null,
        order_id: null,
        category: 'EXPENDITURE',
        title: null,
        vendor: null,
        unit: null,
        quantity: null,
        price_per_item: null,
        total_price: null,
        date: this.$moment().format("YYYY-MM-DD"),
      })
    },
    handleAddPayrollData () {
      this.payrollRequests.push({
        id: null,
        order_id: null,
        category: 'PAYROLL',
        title: null,
        vendor: null,
        unit: null,
        quantity: null,
        price_per_item: null,
        total_price: null,
        date: this.$moment().format("YYYY-MM-DD"),
      })
    },
    handleDeletePurchaseData (index) {
      this.purchaseRequests.splice(index, 1)
    },
    handleDeleteExpenditureData (index) {
      this.expenditureRequests.splice(index, 1)
    },
    handleDeletePayrollData (index) {
      this.payrollRequests.splice(index, 1)
    },
    appendOrderId(requests) {
      for (let request of requests) {
        request.order_id = this.order.id
      }

      return requests
    },
    getOrders() {
      this.$axios.get('admin/request/document/orders/list')
        .then(response => {
          if (response.data.success) {
            this.orders = response.data.data
            this.orderList = response.data.data
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              colors: 'red'
            })
          }
        }).catch(error => {
          this.$q.notify({
              message: error.message,
              colors: 'red'
            })
        })
    },
    handlePurchaseTotalPrice(index) {
      let quantity = this.purchaseRequests[index].quantity || 0
      let pricePerItem = this.purchaseRequests[index].price_per_item || 0

      this.purchaseRequests[index].total_price = quantity * pricePerItem
    },
    handleExpenditureTotalPrice(index) {
      let quantity = this.expenditureRequests[index].quantity || 0
      let pricePerItem = this.expenditureRequests[index].price_per_item || 0

      this.expenditureRequests[index].total_price = quantity * pricePerItem
    },
    handlePayrollTotalPrice(index) {
      let quantity = this.payrollRequests[index].quantity || 0
      let pricePerItem = this.payrollRequests[index].price_per_item || 0

      this.payrollRequests[index].total_price = quantity * pricePerItem
    },
    filterOrder(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.orders = this.orderList.filter(v => v.order_code.toLowerCase().indexOf(needle) > -1)
      })
    }
  },
  computed: {
    upsertPayload() {
      let purchaseRequests = this.appendOrderId(this.purchaseRequests)
      let expenditureRequests = this.appendOrderId(this.expenditureRequests)
      let payrollRequests = this.appendOrderId(this.payrollRequests)

      return {
        purchase_request: purchaseRequests,
        expenditure_request: expenditureRequests,
        payroll_request: payrollRequests
      }
    },
    upsertEndpoint() {
      return `admin/request/document/${this.$route.params.orderId}`
    },
    upsertBasePath() {
      return `/request/document`
    }
  },
  created() {
    this.getOrders()
  }
}
</script>

<style scoped>
  .delete-detail {
    margin-top: 15px;
  }
</style>
