<template>
  <q-page padding>
    <!-- content -->
  <request-detail
    :title="title"
    :data="requestData"
    :columns="requestColumns"
    :basePath="basePath"
  ></request-detail>
  </q-page>
</template>

<script>
export default {
  name: 'RequestDocumentDetailPage',
  data: function() {
    return {
      detail: {},
      purchaseExpenditureRequestColumns: [
        { name: 'title', align: 'left', label: 'Nama', field: 'title', sortable: false },
        { name: 'vendor', align: 'left', label: 'Vendor', field: 'vendor', sortable: false },
        { name: 'unit', align: 'left', label: 'Satuan', field: 'unit', sortable: false },
        { name: 'quantity', align: 'left', label: 'Jumlah Satuan', field: 'quantity', sortable: false },
        { name: 'formatted_price_per_item', align: 'left', label: 'Harga satuan', field: 'formatted_price_per_item', sortable: false },
        { name: 'formatted_total_price', align: 'left', label: 'Biaya', field: 'formatted_total_price', sortable: false },
        { name: 'date', align: 'left', label: 'Tanggal', field: 'date', sortable: false }
      ],
      payrollRequestColumns: [
        { name: 'title', align: 'left', label: 'Nama Pekerja', field: 'title', sortable: false },
        { name: 'vendor', align: 'left', label: 'Jasa', field: 'vendor', sortable: false },
        { name: 'quantity', align: 'left', label: 'Jumlah Satuan', field: 'quantity', sortable: false },
        { name: 'formatted_price_per_item', align: 'left', label: 'Harga satuan', field: 'formatted_price_per_item', sortable: false },
        { name: 'formatted_total_price', align: 'left', label: 'Biaya', field: 'formatted_total_price', sortable: false },
        { name: 'date', align: 'left', label: 'Tanggal', field: 'date', sortable: false }
      ],
      title: 'Detail Request Document',
      isLoading: false,
      purchaseRequests: [],
      expenditureRequests: [],
      payrollRequests: [],
    }
  },
  components: {
    RequestDetail: () => import('components/request/Detail')
  },
  computed: {
    requestData() {
      return {
        purchaseRequests: this.purchaseRequests,
        expenditureRequests: this.expenditureRequests,
        payrollRequests: this.payrollRequests
      }
    },
    requestColumns() {
      return {
        purchaseExpenditureRequestColumns: this.purchaseExpenditureRequestColumns,
        payrollRequestColumns: this.payrollRequestColumns
      }
    },
    basePath() {
      return `/request/document`
    }
  },
  methods: {
    manipulate(requests) {
      for (let item of requests) {
        item.title = item.title || '-'
        item.vendor = item.vendor || '-'
        item.unit = item.unit || '-'
        item.quantity = item.quantity || 0
        item.formatted_price_per_item = this.$formatRupiah(item.price_per_item ? parseInt(item.price_per_item).toString() : "0", 'Rp.')
        item.formatted_total_price = this.$formatRupiah(item.total_price ? parseInt(item.total_price).toString() : "0", 'Rp.')
      }

      return requests
    },
    manipulateData(data) {
      this.purchaseRequests = this.manipulate(data.purchase_request)
      this.expenditureRequests = this.manipulate(data.expenditure_request)
      this.payrollRequests = this.manipulate(data.payroll_request)
    },
    getDetail() {
      this.isLoading = true

      let requestDocumentDetail = localStorage.getItem('requestDocumentDetail')

      if (!requestDocumentDetail) {
        this.$axios.get(`admin/request/document/${this.$route.params.orderId}`)
          .then(response => {
            const data = response.data.data

            this.manipulateData(data)

            localStorage.setItem('requestDocumentDetail', JSON.stringify(data))
          })
          .catch(error => {
            alert(error)
          })
          .finally(() => {
            this.isLoading = false
          })
      } else {
        let data = JSON.parse(requestDocumentDetail)

        this.manipulateData(data)
      }
    }
  },
  created: function() {
    this.getDetail()
  }
}
</script>

