<template>
  <q-page padding>
    <global-form
      :title="title"
      :detail="upsertPayload"
      :endpoint="upsertEndpoint"
      :basePath="upsertBasePath"
      localStorageKey='requestDocumentDetail'
      action="upsert"
    >
      <template v-slot:detail>
        <q-card-section>
          <div class="text-h6">Purchase Request</div>
        </q-card-section>

        <q-separator inset />

        <div class="row" v-for="(item, index) in purchaseRequests" :key="'purchase_' + index">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.title"
                label="Nama Bahan"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.vendor"
                label="Vendor"
              />
            </q-card-section>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.unit"
                label="Satuan"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.quantity"
                label="Jumlah Satuan"
                @input="handlePurchaseTotalPrice(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.price_per_item"
                label="Biaya per Satuan"
                @input="handlePurchaseTotalPrice(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-5 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.total_price"
                label="Total Biaya"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                type="date"
                stack-label
                v-model="item.date"
                label="Tanggal"
              />
            </q-card-section>
          </div>
          <div class="col-md-1 float-right col-sm-12 col-xs-12">
            <q-card-section>
              <q-btn
                class="delete-detail"
                icon="delete"
                color="red"
                @click="handleDeletePurchaseData(index)"
              />
            </q-card-section>
          </div>
        </div>

        <q-card-section>
          <div class="text-h6">Expenditure Request</div>
        </q-card-section>

        <q-separator inset />

        <div class="row" v-for="(item, index) in expenditureRequests" :key="'expenditure_' + index">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.title"
                label="Nama Pengeluaran"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.vendor"
                label="Vendor"
              />
            </q-card-section>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                v-model="item.unit"
                label="Satuan"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.quantity"
                label="Jumlah Satuan"
                @input="handleExpenditureTotalPrice(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.price_per_item"
                label="Biaya per Satuan"
                @input="handleExpenditureTotalPrice(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-5 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.total_price"
                label="Total Biaya"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                type="date"
                stack-label
                v-model="item.date"
                label="Tanggal"
              />
            </q-card-section>
          </div>
          <div class="col-md-1 col-sm-12 col-xs-12">
            <q-card-section>
              <q-btn
                class="delete-detail"
                icon="delete"
                color="red"
                @click="handleDeleteExpenditureData(index)"
              />
            </q-card-section>
          </div>
        </div>

        <q-card-section>
          <div class="text-h6">Payroll Request</div>
        </q-card-section>

        <q-separator inset />

        <div class="row" v-for="(item, index) in payrollRequests" :key="'payroll_' + index">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                v-model="item.title"
                label="Nama Pekerja"
              />
            </q-card-section>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                v-model="item.vendor"
                label="Jasa"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                type="number"
                v-model="item.quantity"
                label="Jumlah Selesai"
                @input="handlePayrollTotalPrice(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.price_per_item"
                label="Biaya per Item"
                @input="handlePayrollTotalPrice(index)"
              />
            </q-card-section>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                type="number"
                square
                v-model="item.total_price"
                label="Total Biaya"
              />
            </q-card-section>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <q-card-section>
              <q-input
                square
                type="date"
                stack-label
                v-model="item.date"
                label="Tanggal"
              />
            </q-card-section>
          </div>
          <div class="col-md-1 col-sm-12 col-xs-12">
            <q-card-section>
              <q-btn
                class="delete-detail"
                icon="delete"
                color="red"
                @click="handleDeletePayrollData(index)"
              />
            </q-card-section>
          </div>
        </div>
      </template>

      <template v-slot:append-button>
        <q-btn
          label="+ Purchase"
          color="green"
          @click="handleAddPurcaseData"
        />
        <q-btn
          label="+ Expenditure"
          color="green"
          @click="handleAddExpenditureData"
        />
        <q-btn
          label="+ Payroll"
          color="green"
          @click="handleAddPayrollData"
        />
      </template>
    </global-form>
  </q-page>
</template>

<script>
export default {
  name: 'RequestDocumentEditPage',
  components: {
    GlobalForm: () => import('components/global/Form')
  },
  data: function() {
    return {
      purchaseRequests: [
        {
          id: null,
          order_id: this.$route.params.orderId,
          category: 'PURCHASE',
          title: null,
          vendor: null,
          unit: null,
          quantity: null,
          price_per_item: null,
          date: this.$moment().format("YYYY-MM-DD"),
        }
      ],
      expenditureRequests: [
        {
          id: null,
          order_id: this.$route.params.orderId,
          category: 'EXPENDITURE',
          title: null,
          vendor: null,
          unit: null,
          quantity: null,
          price_per_item: null,
          date: this.$moment().format("YYYY-MM-DD"),
        }
      ],
      payrollRequests: [
        {
          id: null,
          order_id: this.$route.params.orderId,
          category: 'PAYROLL',
          title: null,
          vendor: null,
          unit: null,
          quantity: null,
          price_per_item: null,
          date: this.$moment().format("YYYY-MM-DD"),
        }
      ],
      title: 'Ubah Request Document'
    }
  },
  methods: {
    handleAddPurcaseData () {
      this.purchaseRequests.push({
        id: null,
        order_id: this.$route.params.id,
        category: 'PURCHASE',
        title: null,
        vendor: null,
        unit: null,
        quantity: null,
        price_per_item: null,
        date: this.$moment().format("YYYY-MM-DD"),
      })
    },
    handleAddExpenditureData () {
      this.expenditureRequests.push({
        id: null,
        order_id: this.$route.params.id,
        category: 'EXPENDITURE',
        title: null,
        vendor: null,
        unit: null,
        quantity: null,
        price_per_item: null,
        date: this.$moment().format("YYYY-MM-DD"),
      })
    },
    handleAddPayrollData () {
      this.payrollRequests.push({
        id: null,
        order_id: this.$route.params.orderId,
        category: 'PAYROLL',
        title: null,
        vendor: null,
        unit: null,
        quantity: null,
        price_per_item: null,
        date: this.$moment().format("YYYY-MM-DD"),
      })
    },
    handleDeletePurchaseData (index) {
      this.purchaseRequests.splice(index, 1)
    },
    handleDeleteExpenditureData (index) {
      this.expenditureRequests.splice(index, 1)
    },
    handleDeletePayrollData (index) {
      this.payrollRequests.splice(index, 1)
    },
    getDetail() {
      let data = JSON.parse(localStorage.getItem('requestDocumentDetail'))

      this.purchaseRequests = data.purchase_request
      this.expenditureRequests = data.expenditure_request
      this.payrollRequests = data.payroll_request
    },
    handlePurchaseTotalPrice(index) {
      let quantity = this.purchaseRequests[index].quantity || 0
      let pricePerItem = this.purchaseRequests[index].price_per_item || 0

      this.purchaseRequests[index].total_price = quantity * pricePerItem
    },
    handleExpenditureTotalPrice(index) {
      let quantity = this.expenditureRequests[index].quantity || 0
      let pricePerItem = this.expenditureRequests[index].price_per_item || 0

      this.expenditureRequests[index].total_price = quantity * pricePerItem
    },
    handlePayrollTotalPrice(index) {
      let quantity = this.payrollRequests[index].quantity || 0
      let pricePerItem = this.payrollRequests[index].price_per_item || 0

      this.payrollRequests[index].total_price = quantity * pricePerItem
    },
  },
  computed: {
    upsertPayload() {
      return {
        purchase_request: this.purchaseRequests,
        expenditure_request: this.expenditureRequests,
        payroll_request: this.payrollRequests
      }
    },
    upsertEndpoint() {
      return `admin/request/document/${this.$route.params.orderId}`
    },
    upsertBasePath() {
      return `/request/document`
    }
  },
  created() {
    this.getDetail()
  }
}
</script>

<style scoped>
  .delete-detail {
    margin-top: 15px;
  }
</style>
