<template>
  <q-page padding>
    <global-table
      :title="title"
      :filter="filter"
      :loading="loading"
      :columns="columns"
      :data="data"
      :pagination="pagination"
      basePath="/request/document"
    >
      <template v-slot:append>
        <q-btn color="primary" @click="$router.push('/request/document/create')">Tambah Baru</q-btn>
      </template>
    </global-table>

  </q-page>
</template>

<script>
export default {
  name: 'OrderIndexPage',
  components: {
    GlobalTable: () => import('components/global/Table')
  },
  data () {
    return {
      title: 'List Request Document',
      filter: '',
      loading: false,
      columns: [
        { name: 'id', align: 'center', label: 'Order ID', field: 'id', sortable: true },
        { name: 'order_ref', align: 'center', label: 'Order Ref', field: 'order_ref', sortable: true },
        { name: 'order_code', align: 'center', label: 'Kode Order', field: 'order_code', sortable: true },
        { name: 'order_name', align: 'center', label: 'Nama Order', field: 'order_name', sortable: true }
      ],
      pagination: {
        rowsPerPage: 10
      },
      data: []
    }
  },
  methods: {
    getOrders: function () {
      this.loading = true

      this.$axios.get('admin/request/document')
        .then(response => {
          if (response.data.success) {
            this.data = response.data.data
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: "red"
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error.message,
            color: "red"
          })
        })
        .finally(() => {
          this.loading = false
        })
    }
  },
  created: function() {
    localStorage.removeItem('orderDetail')
    localStorage.removeItem('requestDocumentDetail')
    this.getOrders()
  }
}
</script>
