<template>
  <q-page padding>
    <price-form
      title="Tambah Harga Baru"
      :detail="detail"
      action="create"
    >
    </price-form>
  </q-page>
</template>

<script>
export default {
  name: 'TypeCreatePage',

  components: {
    PriceForm: () => import('components/clothing/price/Form')
  },
  data: function() {
    return {
      detail: {
        clothing_type_id: null,
        clothing_material_id: null,
        price: null,
      },
      title: 'Tambah Harga Baru'
    }
  }
}
</script>
