<template>
  <q-page padding>
    <!-- content -->
    <price-detail
      :title="title"
      :fields="fields"
      :detail="detail"
      :isLoading="isLoading"
      basePath="/clothing/price"
      endpoint="admin/clothing/price"
    >
    </price-detail>
  </q-page>
</template>

<script>
export default {
  name: 'PriceDetailPage',
  data: function() {
    return {
      fields: [
        {title: 'Jenis Pakaian', name: 'clothing_type_name'},
        {title: 'Bahan Pakaian', name: 'clothing_material_name'},
        {title: 'Harga', name: 'formatted_price'}
      ],
      detail: {},
      title: 'Detail Jenis Pakaian',
      isLoading: false
    }
  },
  components: {
    PriceDetail: () => import('components/clothing/price/Detail')
  },
  methods: {
    getOrderDetail: function() {
      // first, check whether type detail is already exist in localStorage
      const clothingPrice = localStorage.getItem('clothingPriceDetail')

      if (!clothingPrice) {
        const clothingTypeId = this.$route.params.clothingTypeId
        const clothingMaterialId = this.$route.params.clothingMaterialId
  
        this.isLoading = true
  
        this.$axios.get('admin/clothing/price/type/' + clothingTypeId + '/material/' + clothingMaterialId)
          .then(response => {
            const data = response.data.data
  
            // save retrieved type detail data to localStorage
            localStorage.setItem('clothingPriceDetail', JSON.stringify(data))
  
            this.detail = data
          })
          .catch(error => {
            alert(error)
          })
          .finally(() => {
            this.isLoading = false
          })
      } else {
        this.detail = JSON.parse(localStorage.getItem('clothingPriceDetail'))
      }
    }
  },
  created: function() {
    this.getOrderDetail()
  }
}
</script>
