<template>
  <q-page padding>
    <price-form
      :detail="detail"
      :title="title"
      action="update" >
    </price-form>
  </q-page>
</template>

<script>
export default {
  name: 'TypeEditPage',
  components: {
    PriceForm: () => import('components/clothing/price/Form')
  },
  data: function() {
    return {
      detail: {},
      title: 'Edit Harga Pakaian'
    }
  },
  created: function() {
    const orderDetail = localStorage.getItem('clothingPriceDetail')
    
    this.detail = JSON.parse(orderDetail)
  }
}
</script>
