<template>
  <q-page padding>
    <price-table
      :title="title"
      :filter="filter"
      :loading="loading"
      :columns="columns"
      :data="data"
      :pagination="pagination"
      basePath="/clothing/price"
    >
      <template v-slot:append>
        <q-btn color="primary" @click="$router.push('/clothing/price/create')">Tambah Baru</q-btn>
      </template>
    </price-table>
  </q-page>
</template>

<script>
export default {
  name: 'PriceIndexPage',
  components: {
    PriceTable: () => import('components/clothing/price/Table')
  },
  data () {
    return {
      title: 'List Harga Pakaian',
      filter: '',
      loading: false,
      columns: [
        { name: 'clothing_type_name', align: 'center', label: 'Jenis Pakaian', field: 'clothing_type_name', sortable: true },
        { name: 'clothing_material_name', align: 'center', label: 'Bahan Pakaian', field: 'clothing_material_name', sortable: true },
        { name: 'formatted_price', align: 'center', label: 'Harga', field: 'formatted_price', sortable: true },
      ],
      pagination: {
        rowsPerPage: 10
      },
      data: []
    }
  },
  methods: {
    getPrices: function () {
      this.loading = true

      this.$axios.get('admin/clothing/price')
        .then(response => {
          if (response.data.success) {
            this.data = response.data.data
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: "red"
            })  
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error.message,
            color: "red"
          })
        })
        .finally(() => {
          this.loading = false
        })
    }
  },
  created: function() {
    localStorage.removeItem('clothingPriceDetail')
    this.getPrices()
  }
}
</script>
