<template>
  <q-page padding>
    <invoice-form
      :title="title"
      action="create" >
    </invoice-form>
  </q-page>
</template>

<script>
export default {
  name: 'InvoiceCreatePage',
  components: {
    InvoiceForm: () => import('components/invoice/Form')
  },
  data: function() {
    return {
      title: 'Simpan Invoice'
    }
  }
}
</script>
