<template>
  <q-page padding>
    <!--
      Use specific OrderDetail component because it need
    -->
    <global-detail
      :title="title"
      :fields="fields"
      :detail="detail"
      :isLoading="isLoading"
      basePath="/invoice"
      endpoint="admin/invoice"
      :showEditDeleteButton="true"
    >
      <template v-slot:shimmering>
        <div class="col-md-6 col-sm-12">
          <q-item v-ripple>
            <q-item-section>
              <q-item-label>
                <q-skeleton type="rect" width="30%"></q-skeleton>
              </q-item-label>
              <q-item-label caption>
                <q-skeleton type="text" width="50%"></q-skeleton>
              </q-item-label>
            </q-item-section>
          </q-item>
        </div>
        <div class="col-md-6 col-sm-12">
          <q-item v-ripple>
            <q-item-section>
              <q-item-label>
                <q-skeleton type="rect" width="30%"></q-skeleton>
              </q-item-label>
              <q-item-label caption>
                <q-skeleton type="text" width="50%"></q-skeleton>
              </q-item-label>
            </q-item-section>
          </q-item>
        </div>
      </template>

      <template v-slot:append>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <q-item>
            <q-item-section>
              <q-item-label>Bukti DP</q-item-label>
              <q-item-label caption v-if="!detail.dp_proof_url">Belum ada</q-item-label>
              <div class="row q-py-sm" v-else>
                <div class="col-3">
                  <q-btn
                    size="md"
                    color="primary"
                    label="Pratinjau"
                    @click="dpProofDialog = true" />
                  <q-dialog v-model="dpProofDialog">
                    <div class="row">
                      <q-card>
                        <q-card-section>
                          <q-img
                            :src="detail.dp_proof_url"
                            spinner-color="white"
                            style="width: 400px; height: auto" />

                        </q-card-section>
                        <q-card-section>
                          <div class="row justify-center">
                            <a style="text-decoration: none" :href="detail.dp_proof_url" target="_blank" rel="noopener noreferrer">
                              <q-btn color="green" label="Download"/>
                            </a>
                          </div>
                        </q-card-section>
                        <q-card-section>
                          <div class="q-py-md q-gutter-xs float-right">
                            <q-btn color="primary" label="Close" v-close-popup />
                          </div>
                        </q-card-section>
                      </q-card>
                    </div>
                  </q-dialog>
                </div>
              </div>
            </q-item-section>
          </q-item>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <q-item>
            <q-item-section>
              <q-item-label>Bukti Pelunasan</q-item-label>
              <q-item-label caption v-if="!detail.paid_off_proof_url">Belum ada</q-item-label>
              <div class="row q-py-sm" v-else>
                <div class="col-3">
                  <q-btn
                    size="md"
                    color="primary"
                    label="Pratinjau"
                    @click="payOffProofDialog = true" />
                  <q-dialog v-model="payOffProofDialog">
                    <div class="row">
                      <q-card>
                        <q-card-section>
                          <q-img
                            :src="detail.paid_off_proof_url"
                            spinner-color="white"
                            style="width: 400px; height: auto" />

                        </q-card-section>
                        <q-card-section>
                          <div class="row justify-center">
                            <a style="text-decoration: none" :href="detail.paid_off_proof_url" target="_blank" rel="noopener noreferrer">
                              <q-btn color="green" label="Download"/>
                            </a>
                          </div>
                        </q-card-section>
                        <q-card-section>
                          <div class="q-py-md q-gutter-xs float-right">
                            <q-btn color="primary" label="Close" v-close-popup />
                          </div>
                        </q-card-section>
                      </q-card>
                    </div>
                  </q-dialog>
                </div>
              </div>
            </q-item-section>
          </q-item>
        </div>
      </template>

      <template v-slot:detail>
        <q-card-section>
          <div class="text-h5">Rincian</div>
        </q-card-section>
        
        <q-separator inset />
  
        <q-card-section>
          <div class="row" v-for="(item, key) in detail.detail" :key="key">
            <div class="col-md-2 col-sm-12">
              <q-item v-ripple>
                <q-item-section>
                  <q-item-label>
                    Nama Barang
                  </q-item-label>
                  <q-item-label caption>
                    {{ item.type }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <div class="col-md-2 col-sm-12">
              <q-item v-ripple>
                <q-item-section>
                  <q-item-label>
                    Bahan
                  </q-item-label>
                  <q-item-label caption>
                    {{ item.material }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <div class="col-md-2 col-sm-12">
              <q-item v-ripple>
                <q-item-section>
                  <q-item-label>
                    Jenis Lengan
                  </q-item-label>
                  <q-item-label caption>
                    {{ item.sleeve }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <div class="col-md-2 col-sm-12">
              <q-item v-ripple>
                <q-item-section>
                  <q-item-label>
                    Ukuran
                  </q-item-label>
                  <q-item-label caption>
                    {{ item.size }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <div class="col-md-2 col-sm-12">
              <q-item v-ripple>
                <q-item-section>
                  <q-item-label>
                    Jumlah
                  </q-item-label>
                  <q-item-label caption>
                    {{ item.quantity }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <div class="col-md-2 col-sm-12">
              <q-item v-ripple>
                <q-item-section>
                  <q-item-label>
                    Harga
                  </q-item-label>
                  <q-item-label caption>
                    {{ item.formatted_price }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
        </q-card-section>
      </template>

      <template v-slot:append-button>
          <q-btn color="green" label="Download" @click="downloadInvoice" />
      </template>

    </global-detail>
  </q-page>
</template>

<script>
export default {
  name: 'InvoiceDetailPage',
  data: function() {
    return {
      fields: [
        {title: 'Kode Invoice', name: 'code'},
        {title: 'Kode Order', name: 'order_code'},
        {title: 'Nama', name: 'name'},
        {title: 'Alamat', name: 'address'},
        {title: 'Nomor HP', name: 'phone_number'},
        {title: 'Ongkir', name: 'formatted_delivery_fee'},
        {title: 'Total Harga', name: 'formatted_total_price'},
        {title: '', name: ''},
      ],
      detail: {},
      title: 'Detail Invoice',
      isLoading: false,
      processDialog: false,
      rejectDialog: false,
      dpProofDialog: false,
      payOffProofDialog: false,
      remark: ''
    }
  },
  components: {
    GlobalDetail: () => import('components/global/Detail')
  },
  methods: {
    getInvoiceDetail: function() {
      // first, check whether invoice detail is already exist in localStorage
      const invoiceDetail = localStorage.getItem('invoiceDetail')

      // if invoice detail weren't exist, then fetch from API
      if (!invoiceDetail) {
        const id = this.$route.params.id
  
        this.isLoading = true
        this.$axios.get('admin/invoice/' + id)
          .then(response => {
            const data = response.data.data
  
            // save retrieved invoice detail data to localStorage
            localStorage.setItem('invoiceDetail', JSON.stringify(data))

            this.detail = data
          })
          .catch(error => {
            alert(error)
          })
          .finally(() => {
            this.isLoading = false
          })
      } else {
        // otherwise, set the detail with localStorage value
        this.detail = JSON.parse(invoiceDetail)
      }
    },
    downloadInvoice: function() {
      window.open(process.env.API_URL + `admin/invoice/${this.$route.params.id}/download`, '_blank')
    }
  },
  created: function() {
    this.getInvoiceDetail()
  }
}
</script>
