<template>
  <q-page padding>
    <global-table
      :title="title"
      :filter="filter"
      :loading="loading"
      :columns="columns"
      :data="data"
      :pagination="pagination"
      basePath="/invoice" >
        <template v-slot:append>
          <q-btn color="primary" @click="$router.push('/invoice/create')">Tambah Baru</q-btn>
        </template>
      </global-table>
  </q-page>
</template>

<script>
export default {
  name: 'InvoiceIndexPage',
  components: {
    GlobalTable: () => import('components/global/Table')
  },
  data () {
    return {
      title: 'List Invoice',
      filter: '',
      loading: false,
      columns: [
        { name: 'code', align: 'center', label: 'Kode Invoice', field: 'code', sortable: true },
        { name: 'name', align: 'center', label: 'Nama', field: 'name', sortable: true },
        { name: 'phone_number', align: 'center', label: 'Nomor HP', field: 'phone_number', sortable: true },
        { name: 'formatted_total_price', align: 'center', label: 'Total Harga', field: 'formatted_total_price', sortable: true },
      ],
      pagination: {
        rowsPerPage: 10
      },
      data: []
    }
  },
  methods: {
    getOrders: function () {
      this.loading = true

      this.$axios.get('admin/invoice')
        .then(response => {
          if (response.data.success) {
            const data = response.data.data
            const result = []
  
            for (let item of data) {
              item.order_time = this.$moment(item.order_time).format('LLL')
              item.due_date = this.$moment(item.due_date).format('LL')
              
              result.push(item)
            }
  
            this.data = result
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: "red"
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error.message,
            color: "red"
          })
        })
        .finally(() => {
          this.loading = false
        })
    }
  },
  created: function() {
    localStorage.removeItem('invoiceDetail')
    localStorage.removeItem('order-id')
    this.getOrders()
  }
}
</script>
