<template>
  <div>
    <div class="q-pa-sm">
      <q-btn color="primary" icon="mdi-arrow-left" @click="handleBack" />
    </div>
    <div class="q-pa-sm">
      <q-card>
        <q-card-section>
          <div class="text-h5">{{ title }}</div>
        </q-card-section>

        <q-separator inset />

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <q-card-section>
              <q-select
                label="Jenis Pakaian"
                v-model="detail.clothing_type_id"
                :options="types"
                option-label="name"
                option-value="id"
                emit-value
                map-options />
            </q-card-section>
          </div>
          <div class="col-sm-12 col-md-6">
            <q-card-section>
              <q-select
                label="Bahan Pakaian"
                v-model="detail.clothing_material_id"
                :options="materials"
                option-label="name"
                option-value="id"
                emit-value
                map-options />
            </q-card-section>
          </div>
          <div class="col-sm-12 col-md-12">
            <q-card-section>
              <q-input
                label="Harga"
                v-model="detail.price" />
            </q-card-section>
          </div>
        </div>
      </q-card>
      <div class="q-py-md q-gutter-sm float-right">
          <q-btn @click="handleBack">Kembali</q-btn>
          <q-btn @click="checkIsPriceAlreadyExist" color="primary">Simpan</q-btn>
      </div>
    </div>
    <q-dialog v-model="backDialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Kamu yakin tidak ingin melanjutkan edit order?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Tidak" color="primary" v-close-popup />
          <q-btn flat label="Ya" color="primary" @click="$router.back()" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="priceAlreadyExistDialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Harga pakaian untuk jenis dan bahan pakaian ini sudah ada sebelumnya. Harga pakaian yang telah ada akan diubah menjadi harga pakaian baru. Yakin ingin tetap mengubah?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Tidak" color="primary" v-close-popup />
          <q-btn flat label="Ya" color="primary" @click="save" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'PriceForm',
  props: {
    detail: {
      type: Object
    },
    title: {
      type: String
    },
    action: {
      type: String
    }
  },
  data () {
    return {
      backDialog: false,
      priceAlreadyExistDialog: false,
      isChanged: false,
      types: [],
      materials: []
    }
  },
  methods: {
    handleBack: function() {
      if (this.isChanged) {
        this.backDialog = true
      } else {
        this.$router.back()
      }
    },
    save: function () {
      this.$q.loading.show({ message: 'Menyimpan data...' })

      if (this.action.toLowerCase() == 'create') {
        this.$axios.post("admin/clothing/price", this.detail)
          .then(response => {
            if (response.data.success) {
              this.$q.notify({ message: 'Harga berhasil disimpan!' })
              this.$router.push('/clothing/price')
            } else {
              this.$q.notify({
                message: response.data.errors.message,
                color: 'red'
              })
            }
          })
          .catch(error => {
            this.$q.notify({
              message: error.message,
              color: 'red'
            })
          })
          .finally(() => {
            this.$q.loading.hide()
          })
      } else {
        this.$axios.put(`admin/clothing/price/type/${this.$route.params.clothingTypeId}/material/${this.$route.params.clothingMaterialId}`, this.detail)
          .then(response => {
            if (response.data.success) {
              this.$q.notify({ message: 'Harga berhasil disimpan!' })
              this.$router.push('/clothing/price')
            } else {
              this.$q.notify({
                message: response.data.errors.message,
                color: 'red'
              })
            }
          })
          .catch(error => {
            this.$q.notify({
              message: error.message,
              color: 'red'
            })
          })
          .finally(() => {
            this.$q.loading.hide()
          })
      }
    },
    getTypes: function() {
      this.$axios.get("admin/clothing/price/type")
        .then(response => {
          if (response.data.success) {
            this.types = response.data.data
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: "red"
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error,
            color: "red"
          })
        })
    },
    getMaterials: function() {
      this.$axios.get("admin/clothing/price/material")
        .then(response => {
          if (response.data.success) {
            this.materials = response.data.data
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: "red"
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error,
            color: "red"
          })
        })
    },
    checkIsPriceAlreadyExist: function() {
      const currentClothingTypeId = this.$route.params.clothingTypeId
      const currentMaterialTypeId = this.$route.params.materialTypeId

      if ( (currentClothingTypeId == this.detail.clothing_type_id) && (currentMaterialTypeId == this.detail.clothing_material_id) ) {
        this.priceAlreadyExistDialog = false
        this.save()
      } else {
        this.$q.loading.show({
          message: 'Memeriksa data harga...'
        })
  
        this.$axios.get(`admin/clothing/price/type/${this.detail.clothing_type_id}/material/${this.detail.clothing_material_id}/is_exist`)
          .then(response => {
            if (response.data.success) {
              this.priceAlreadyExistDialog = response.data.data.is_price_exist

              if (!this.priceAlreadyExistDialog) {
                this.save()
              }
            } else {
              this.$q.notify({
                message: response.data.errors.message,
                color: "red"
              })
            }
          }).catch(error => {
            this.$q.notify({
                message: error.message,
                color: "red"
              })
          }).finally(() => {
            this.$q.loading.hide()
          })
      }
    }
  },
  created: function() {
    this.getTypes()
    this.getMaterials()
  }
}
</script>
