<template>
  <div>
    <div class="q-pa-sm column items-end">
      <slot name="append"></slot>
    </div>
    <div class="q-pa-sm column">
      <q-table
        :title="title"
        :data="data"
        :columns="columns"
        row-key="id"
        :filter="filter"
        :loading="loading"
        :pagination.sync="tablePagination"
        @row-click="routeToDetail"
      >
        <template v-slot:top-right>
          <q-input dense debounce="300" color="primary" v-model="filter">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

      </q-table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PriceTable',
  props: {
    title: {
      type: String
    },
    data: {
      type: Array
    },
    columns: {
      type: Array
    },
    filter: {
      type: String
    },
    loading: {
      type: Boolean
    },
    pagination: {
      type: Object
    },
    basePath: {
      type: String
    },
  },
  data () {
    return {
      tablePagination: this.pagination
    }
  },
  methods: {
    routeToDetail: function(event, row) {
      return this.$router.push('/clothing/price/type/' + row.clothing_type_id + '/material/' + row.clothing_material_id)
    }
  }
}
</script>
