<template>
  <q-page padding>
    <!-- content -->
    <global-detail
      :title="title"
      :fields="fields"
      :detail="detail"
      :isLoading="isLoading"
      :endpoint="endpoint"
      basePath="/clothing/material"
    >
    </global-detail>
  </q-page>
</template>

<script>
export default {
  name: 'MaterialDetailPage',
  data: function() {
    return {
      fields: [
        {title: 'Code', name: 'code'},
        {title: 'Nama', name: 'name'},
        {title: 'Deskripsi', name: 'description'}
      ],
      detail: {},
      title: 'Detail Bahan',
      isLoading: false,
      endpoint: 'admin/clothing/material'
    }
  },
  components: {
    GlobalDetail: () => import('components/global/Detail')
  },
  methods: {
    getOrderDetail: function() {
      // first, check whether material detail is already exist in localStorage
      const materialDetail = localStorage.getItem('materialDetail')

      if (!materialDetail) {
        const id = this.$route.params.id
  
        this.isLoading = true
  
        this.$axios.get(`${this.endpoint}/${id}`)
          .then(response => {
            const data = response.data.data
  
            // save retrieved order detail data to localStorage
            localStorage.setItem('materialDetail', JSON.stringify(data))
  
            this.detail = data
          })
          .catch(error => {
            alert(error)
          })
          .finally(() => {
            this.isLoading = false
          })
      } else {
        this.detail = JSON.parse(localStorage.getItem('materialDetail'))
      }
    }
  },
  created: function() {
    this.getOrderDetail()
  }
}
</script>
