<template>
  <q-page padding>
    <!-- content -->
    <global-detail
      :title="title"
      :fields="fields"
      :detail="detail"
      :isLoading="isLoading"
      endpoint="admin/disbursement/cash"
      basePath="/disbursement/cash/purchase_request"
    >
      <template v-slot:append>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <q-item>
            <q-item-section>
              <q-item-label>
                Kode PR
              </q-item-label>
              <q-item-label caption>
                {{ detail.request.request_code }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </div>
      </template>
      <template v-slot:detail>
        <q-card-section>
          <div class="text-h5">Rincian</div>
        </q-card-section>

        <q-separator inset />

        <q-card-section>
          <q-table
            class="request-details-table"
            :data="detail.details"
            :columns="detailColumns"
          ></q-table>
        </q-card-section>
      </template>
    </global-detail>
  </q-page>
</template>

<script>
export default {
  name: 'PRDisbursementDetailPage',
  data: function() {
    return {
      fields: [
        {title: 'Kode Disbursement', name: 'code'},
        {title: 'Tanggal', name: 'date'},
      ],
      detail: {},
      detailColumns: [
        { name: 'type', align: 'left', label: 'Nama Bahan', field: 'type', sortable: false },
        { name: 'amount', align: 'left', label: 'Jumlah', field: 'amount', sortable: false },
        { name: 'transfer_to', align: 'left', label: 'Transfer To', field: 'transfer_to', sortable: false },
        { name: 'cash_from', align: 'left', label: 'Cash From', field: 'cash_from', sortable: false },
        { name: 'bank_name', align: 'left', label: 'Nama Bank', field: 'bank_name', sortable: false },
        { name: 'account_number', align: 'left', label: 'No Rekening', field: 'account_number', sortable: false },
        { name: 'status', align: 'left', label: 'Status', field: 'status', sortable: false },
        { name: 'remark', align: 'left', label: 'Catatan', field: 'remark', sortable: false }
      ],
      title: 'Detail Cash Disbursement',
      isLoading: false
    }
  },
  components: {
    GlobalDetail: () => import('components/global/Detail')
  },
  methods: {
    getOrderDetail: function() {
      // first, check whether material detail is already exist in localStorage
      const purchaseRequestDisbursementDetail = localStorage.getItem('purchaseRequestDisbursementDetail')

      if (!purchaseRequestDisbursementDetail) {
        const id = this.$route.params.id

        this.isLoading = true

        this.$axios.get('admin/disbursement/cash/' + id)
          .then(response => {
            const data = response.data.data

            // save retrieved order detail data to localStorage
            localStorage.setItem('purchaseRequestDisbursementDetail', JSON.stringify(data))

            this.detail = data
          })
          .catch(error => {
            alert(error)
          })
          .finally(() => {
            this.isLoading = false
          })
      } else {
        this.detail = JSON.parse(localStorage.getItem('purchaseRequestDisbursementDetail'))
      }
    }
  },
  created: function() {
    this.getOrderDetail()
  }
}
</script>

<style scoped>
  .request-details-table {
    box-shadow: none;
  }
</style>
