<template>
  <q-page padding>
    <global-table
      :title="title"
      :filter="filter"
      :loading="loading"
      :columns="columns"
      :data="data"
      :pagination="pagination"
      basePath="/disbursement/cash/purchase_request"
    >
      <template v-slot:append>
        <q-btn color="primary" @click="$router.push('/disbursement/cash/purchase_request/create')">Tambah Baru</q-btn>
      </template>
    </global-table>
  </q-page>
</template>

<script>
export default {
  name: 'PRDisbursementIndexPage',
  components: {
    GlobalTable: () => import('components/global/Table')
  },
  data () {
    return {
      title: 'List Cash Disbursement',
      filter: '',
      loading: false,
      columns: [
        { name: 'id', align: 'center', label: 'ID', field: 'id', sortable: true },
        { name: 'code', align: 'center', label: 'Kode', field: 'code', sortable: true },
        { name: 'date', align: 'center', label: 'Tanggal', field: 'date', sortable: true }
      ],
      pagination: {
        rowsPerPage: 10
      },
      data: []
    }
  },
  methods: {
    getList: function () {
      this.loading = true

      this.$axios.get('admin/disbursement/cash?category=purchase')
        .then(response => {
          if (response.data.success) {
            let result = []

            for (let item of response.data.data) {
              item.date = this.$moment(item.date).format("LL")
              result.push(item)
            }

            this.data = result
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: "red"
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error.message,
            color: "red"
          })
        })
        .finally(() => {
          this.loading = false
        })
    }
  },
  created: function() {
    localStorage.removeItem('purchaseRequestDisbursementDetail')
    this.getList()
  }
}
</script>
