<template>
  <div class="fixed-center text-center">
    <p>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/kojo-cloth.appspot.com/o/assets%2Flogo.jpg?alt=media&token=04d007b4-d62b-4a62-ac43-77e896422465"
        style="width:30vw;max-width:150px;"
      >
    </p>
    <p class="text-faded">
      Sorry, nothing here...<strong>(404)</strong>
    </p>
    <q-btn
      color="primary"
      to="/"
      label="Kembali ke jalan yang benar"
    />
  </div>
</template>

<script >
export default {
  name: 'Error404'
}
</script>
