<template>
  <q-page padding>
    <global-form
      :detail="detail"
      :title="title"
      :fields="fields"
      endpoint="admin/clothing/zipper"
      basePath="/clothing/zipper"
      action="create" >
    </global-form>
  </q-page>
</template>

<script>
export default {
  name: 'ZipperCreatePage',
  components: {
    GlobalForm: () => import('components/global/Form')
  },
  data: function() {
    return {
      detail: {
        code: '',
        name: '',
        description: ''
      },
      title: 'Tambah Seleting Baru',
      fields: [
        { title: 'Kode', name: 'code' },
        { title: 'Nama', name: 'name' },
        { title: 'Deskripsi', name: 'description' },
      ]
    }
  }
}
</script>
