<template>
  <div>
    <div class="q-pa-sm">
      <q-btn color="primary" icon="mdi-arrow-left" />
    </div>
    <div class="q-pa-sm">
      <q-card>
        <q-card-section>
          <div class="text-h5">{{ title }}</div>
        </q-card-section>

        <q-separator inset />

        <div class="row">
          <div class="col-sm-12 col-md-4">
            <q-card-section>
              <q-select
                label="Jenis Pakaian"
                v-model="type"
                :options="types"
                option-label="name"
                option-value="id"
                @filter="filterType"
                emit-value
                use-input
                hide-selected
                fill-input
                input-debounce="0"
                map-options />
            </q-card-section>
          </div>
          <div class="col-sm-12 col-md-4">
            <q-card-section>
              <q-select
                label="Jenis Atribut"
                v-model="attributeType"
                :options="attributeTypes"
                @filter="filterAttributeType"
                emit-value
                use-input
                hide-selected
                fill-input
                input-debounce="0"
                map-options
                @input="handleAttributeTypeChanges" />
            </q-card-section>
          </div>
          <div class="col-sm-12 col-md-4">
            <q-card-section>
              <q-select
                label="Atribut"
                v-model="attribute"
                :options="attributes"
                option-label="name"
                option-value="id"
                @filter="filterAttribute"
                emit-value
                use-input
                hide-selected
                fill-input
                input-debounce="0"
                map-options
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>

            </q-card-section>
          </div>
        </div>
      </q-card>
      <div class="q-py-md q-gutter-sm float-right">
          <q-btn>Kembali</q-btn>
          <q-btn color="red" @click="handleMapping('detach')">Hapus</q-btn>
          <q-btn color="primary" @click="handleMapping('attach')">Simpan</q-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MappingForm',
  props: {
    title: {
      type: String
    }
  },
  data () {
    return {
      type: '',
      attributeType: '',
      attribute: '',
      attributeTypes: [
        'Kancing', 'Tali Kur', 'Bahan Pakaian', 'Puring', 'Sablon', 'Stoper', 'Seleting'
      ],
      attributeTypeOptions: [
        'Kancing', 'Tali Kur', 'Bahan Pakaian', 'Puring', 'Sablon', 'Stoper', 'Seleting'
      ],
      attributeTypesMap: {
        'kancing': 'button',
        'tali kur': 'kur_rope',
        'bahan pakaian': 'material',
        'puring': 'puring',
        'sablon': 'screen_printing',
        'stoper': 'stopper',
        'seleting': 'zipper',
      },
      types: [],
      typeOptions: [],
      attributes: [],
      attributeOptions: []
    }
  },
  methods: {
    getTypes() {
      this.$axios.get('admin/clothing/type')
        .then(response => {
          if (response.data.success) {
            this.types = response.data.data
            this.typeOptions = response.data.data
          } else {
            this.handleError(response.data.errors.message)
          }
        })
        .catch(error => {
          this.handleError(error.message)
        })
    },
    handleError(errorMessage) {
      this.$q.notify({
        message: errorMessage,
        color: 'red'
      })
    },
    handleAttributeTypeChanges() {
      let endpointSuffix = this.attributeTypesMap[this.attributeType.toLowerCase()];
      
      this.$axios.get(`admin/clothing/${endpointSuffix}`)
        .then(response => {
          if (response.data.success) {
            this.attributes = response.data.data
            this.attributeOptions = response.data.data
          } else {
            this.handleError(response.data.errors.message)
          }
        })
        .catch(error => {
          this.handleError(error.message);
        })
    },
    handleMapping(type) {
      let endpointSuffix = this.attributeTypesMap[this.attributeType.toLowerCase()];
      let endpoint = `admin/clothing/type/${this.type}/${endpointSuffix}/${this.attribute}/${type}`

      let request

      if (type == 'attach') {
        request = this.$axios.post(endpoint)
      } else {
        request = this.$axios.delete(endpoint)
      }
      
      request.then(response => {
          if (response.data.success) {
            console.log(response.data.data)
            this.$q.notify({
              message: response.data.data
            })
          } else {
            this.handleError(response.data.errors.message)
          }
        })
        .catch(error => {
          this.handleError(error.message)
        })
    },
    filterAttribute (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.attributes = this.attributeOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    filterAttributeType (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.attributeTypes = this.attributeTypeOptions.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    filterType (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.types = this.typeOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    }
  },
  created: function() {
    this.getTypes()
  }
}
</script>
