<template>
  <q-page padding>
    <global-table
      :title="title"
      :filter="filter"
      :loading="loading"
      :columns="columns"
      :data="data"
      :pagination="pagination"
      basePath="/clothing/stopper"
    >
      <template v-slot:append>
        <q-btn color="primary" @click="$router.push('/clothing/stopper/create')">Tambah Baru</q-btn>
      </template>
    </global-table>
  </q-page>
</template>

<script>
export default {
  name: 'StopperIndexPage',
  components: {
    GlobalTable: () => import('components/global/Table')
  },
  data () {
    return {
      title: 'List Tali Kur',
      filter: '',
      loading: false,
      columns: [
        { name: 'id', align: 'center', label: 'ID', field: 'id', sortable: true },
        { name: 'code', align: 'center', label: 'Kode', field: 'code', sortable: true },
        { name: 'name', align: 'center', label: 'Nama', field: 'name', sortable: true },
        { name: 'description', align: 'center', label: 'Deskripsi', field: 'description', sortable: true }
      ],
      pagination: {
        rowsPerPage: 10
      },
      data: []
    }
  },
  methods: {
    getAll: function () {
      this.loading = true

      this.$axios.get('admin/clothing/stopper')
        .then(response => {
          if (response.data.success) {
            this.data = response.data.data
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: "red"
            })  
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error.message,
            color: "red"
          })
        })
        .finally(() => {
          this.loading = false
        })
    }
  },
  created: function() {
    localStorage.removeItem('stopperDetail')
    this.getAll()
  }
}
</script>
