<template>
  <q-page padding>
    <global-form
      :detail="detail"
      :title="title"
      :fields="fields"
      endpoint="admin/clothing/puring"
      basePath="/clothing/puring"
      action="update" >
    </global-form>
  </q-page>
</template>

<script>
export default {
  name: 'PuringEditPage',
  components: {
    GlobalForm: () => import('components/global/Form')
  },
  data: function() {
    return {
      detail: {},
      fields: [
        {title: 'Kode', name: 'code'},
        {title: 'Nama', name: 'name'},
        {title: 'Deskripsi', name: 'description'}
      ],
      title: 'Edit Puring'
    }
  },
  created: function() {
    const puringDetail = localStorage.getItem('puringDetail')
    
    this.detail = JSON.parse(puringDetail)
  }
}
</script>
