<template>
  <q-item clickable v-ripple :to="childLink.path">
    <q-item-section avatar>
    </q-item-section>
    <q-item-section>{{ childLink.name }}</q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'DrawerLinkChild',
  props: {
    childLink: {
      type: Object
    }
  },
  data () {
    return {}
  }
}
</script>
