<template style="padding-left: 20px">
  <q-expansion-item
    expand-separator
    :icon="link.iconName"
    :label="link.name"
  >
   <drawer-link-child
    v-for="(childLink, key) in link.childLinks"
    :key="key"
    :childLink="childLink" /> 
  </q-expansion-item>
</template>

<script>
export default {
  name: 'DrawerLink',
  components: {
    DrawerLinkChild: () => import('./DrawerLinkChild')
  },
  props: {
    link: {
      type: Object
    }
  },
  data () {
    return {}
  }
}
</script>
