<template>
  <div>
    <div class="q-pa-sm">
      <q-btn color="primary" icon="mdi-arrow-left" @click="$router.back()" />
    </div>
    <!-- <div class="q-pa-md"> -->
    <div class="q-pa-sm">
      <q-card>
        <q-card-section>
          <div class="text-h5">{{ title }}</div>
        </q-card-section>

        <q-separator inset />

        <q-card-section class="request-title" style="padding-top: 16px">
          <div class="text-h6">Purchase Request</div>
        </q-card-section>

        <q-card-section>
          <q-table
            class="request-details-table"
            :data="data.purchaseRequests"
            :columns="columns.purchaseExpenditureRequestColumns"
            hide-bottom
          ></q-table>
        </q-card-section>

        <q-card-section class="request-title">
          <div class="text-h6">Expenditure Request</div>
        </q-card-section>

        <q-card-section>
          <q-table
            class="request-details-table"
            :data="data.expenditureRequests"
            :columns="columns.purchaseExpenditureRequestColumns"
            hide-bottom
          ></q-table>
        </q-card-section>

        <q-card-section class="request-title">
          <div class="text-h6">Payroll Request</div>
        </q-card-section>

        <q-card-section>
          <q-table
            class="request-details-table"
            :data="data.payrollRequests"
            :columns="columns.payrollRequestColumns"
            hide-bottom
          ></q-table>
        </q-card-section>
      </q-card>
      <q-dialog v-model="deleteDialog">
        <q-card>
          <q-card-section>
            Apakah kamu yakin ingin menghapus data ini?
          </q-card-section>
          <q-card-section>
            <div class="q-py-md q-gutter-md float-right">
              <q-btn color="primary" v-close-popup>Tidak</q-btn>
              <q-btn @click="deleteData" v-close-popup>Ya</q-btn>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
      <div v-show="showEditDeleteButton" class="q-py-md q-gutter-sm float-right">
          <q-btn color="red" @click="deleteDialog = true">Hapus</q-btn>
          <slot name="append-button"></slot>
          <q-btn color="primary" @click="$router.push(detailPath)">Edit</q-btn>
      </div>
    </div>
  </div>
  <!-- </div> -->
</template>

<script>
export default {
  name: 'GlobalDetail',
  props: {
    title: {
      type: String
    },
    data: {
      type: Object
    },
    columns: {
      type: Object
    },
    showEditDeleteButton: {
      type: Boolean,
      default: true
    },
    basePath: {
      type: String
    }
  },
  data () {
    return {
      deleteDialog: false
    }
  },
  methods: {
    deleteData() {
      this.$q.loading.show({
        message: 'Menghapus data...'
      })

      this.$axios.delete(this.deleteApiEndpoint)
        .then(response => {
          if (response.data.success) {
            this.$q.notify({
              message: 'Data berhasil dihapus!'
            })

            localStorage.removeItem('orderDetail')
            localStorage.removeItem('requestDocumentDetail')

            this.$router.push(`${this.basePath}`)
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: 'red'
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error,
            color: 'red'
          })
        })
        .finally(() => {
          this.$q.loading.hide()
        })
    }
  },
  computed: {
    detailPath() {
      return `/request/document/${this.$route.params.orderId}/edit`
    },
    deleteApiEndpoint() {
      return `admin/request/document/${this.$route.params.orderId}`
    }
  },
}
</script>


<style scoped>
  .request-details-table {
    box-shadow: none;
  }
  .request-title {
    padding: 0 16px;
  }
</style>
