<template>
  <q-page padding>
    <global-form
      :detail="detail"
      :title="title"
      :fields="fields"
      endpoint="admin/clothing/button"
      basePath="/clothing/button"
      action="update" >
    </global-form>
  </q-page>
</template>

<script>
export default {
  name: 'ButtonEditPage',
  components: {
    GlobalForm: () => import('components/global/Form')
  },
  data: function() {
    return {
      detail: {},
      fields: [
        {title: 'Kode', name: 'code'},
        {title: 'Nama', name: 'name'},
        {title: 'Deskripsi', name: 'description'}
      ],
      title: 'Edit Kancing'
    }
  },
  created: function() {
    const buttonDetail = localStorage.getItem('buttonDetail')
    
    this.detail = JSON.parse(buttonDetail)
  }
}
</script>
