<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="left = !left" />

        <q-toolbar-title>
          Kojo Admin
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="left" side="left" bordered>
      <!-- drawer content -->
      <div class="column items-center q-py-xl">
        <q-avatar size="100px" font-size="52px">
           <img :src="avatarUrl" alt="Avatar">
        </q-avatar>
        <h6 class="text-h6">{{ name }}</h6>
        <q-btn label="Logout" @click="handleLogout" color="primary" />
      </div>
      <q-list>
        <drawer-link
          v-for="(link, key) in links"
          :key="key"
          :link="link"/>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  components: {
    DrawerLink: () => import('../components/DrawerLink')
  },
  data () {
    return {
      left: false,
      name: 'Administrator',
      avatarUrl: 'https://gravatar.com/avatar/?size=400&d=identicon',
      links: [
        {
          iconName: 'mdi-book-open',
          name: 'Marketing',
          childLinks: [
            {
              path: '/order',
              name: 'Order Masuk'
            },
            {
              path: '/invoice',
              name: 'Invoice'
            }
          ]
        },
        {
          iconName: 'mdi-cog-clockwise',
          name: 'Master Data',
          childLinks: [
            {
              path: '/clothing/material',
              name: 'Bahan Pakaian'
            },
            {
              path: '/clothing/jacket_type',
              name: 'Jenis Jaket'
            },
            {
              path: '/clothing/type',
              name: 'Jenis Pakaian'
            },
            {
              path: '/clothing/button',
              name: 'Kancing'
            },
            {
              path: '/clothing/puring',
              name: 'Puring'
            },
            {
              path: '/clothing/screen_printing',
              name: 'Sablon'
            },
            {
              path: '/clothing/zipper',
              name: 'Seleting'
            },
            {
              path: '/clothing/stopper',
              name: 'Stoper'
            },
            {
              path: '/clothing/kur_rope',
              name: 'Tali Kur'
            },
            {
              path: '/clothing/mapping/create',
              name: 'Mapping'
            },
            // {
            //   path: '/clothing/price',
            //   name: 'Harga Pakaian'
            // },
          ]
        },
        {
          iconName: 'mdi-cog-clockwise',
          name: 'Request',
          childLinks: [
            {
              path: '/request/document',
              name: 'Request Document'
            }
          ]
        },
        {
          iconName: 'mdi-cog-clockwise',
          name: 'Produksi',
          childLinks: [
            {
              path: '/production/job_sheet',
              name: 'Job Sheet'
            }
          ]
        },
        {
          iconName: 'mdi-cog-clockwise',
          name: 'Disbursement',
          childLinks: [
            {
              path: '/disbursement/cash/purchase_request',
              name: 'Cash Disbursement (PR)'
            },
            {
              path: '/disbursement/cash/expenditure_request',
              name: 'Cash Disbursement (ER)'
            },
          ]
        }
      ]
    }
  },
  methods: {
    handleLogout: function() {
      localStorage.removeItem('jwtToken')
      this.$router.push('/login')
    }
  }
}
</script>
