<template>
  <div>
    <div class="q-pa-sm">
      <q-btn color="primary" icon="mdi-arrow-left" @click="$router.back()" />
    </div>
    <!-- <div class="q-pa-md"> -->
    <div class="q-pa-sm">
      <q-card>
        <q-card-section>
          <div class="text-h5">{{ title }}</div>
        </q-card-section>

        <q-separator inset />

        <q-card-section>
          <div class="row" v-if="isLoading">
            <div
              class="col-md-6 col-sm-12 col-xs-12"
              v-for="(field, key) in fields"
              :key="key"
            >
              <q-item v-ripple>
                <q-item-section>
                  <q-item-label>
                    <q-skeleton type="rect" width="30%"></q-skeleton>
                  </q-item-label>
                  <q-item-label caption>
                    <q-skeleton type="text" width="50%"></q-skeleton>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <slot name="shimmering"></slot>
          </div>

          <div class="row" v-else>
            <div
              class="col-md-6 col-sm-12 col-xs-12"
              v-for="(field, key) in fields"
              :key="key"
            >
              <q-item>
                <q-item-section>
                  <q-item-label>
                    {{ field.title }}
                  </q-item-label>
                  <q-item-label caption>
                    {{ detail[field.name] || '-' }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <slot name="append"></slot>
          </div>
        </q-card-section>
        <slot name="detail"></slot>
      </q-card>
      <q-dialog v-model="deleteDialog">
        <q-card>
          <q-card-section>
            Apakah kamu yakin ingin menghapus data ini?
          </q-card-section>
          <q-card-section>
            <div class="q-py-md q-gutter-md float-right">
              <q-btn color="primary" v-close-popup>Tidak</q-btn>
              <q-btn @click="deleteData" v-close-popup>Ya</q-btn>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
      <div v-show="showEditDeleteButton" class="q-py-md q-gutter-sm float-right">
          <q-btn color="red" @click="deleteDialog = true">Hapus</q-btn>
          <slot name="append-button"></slot>
          <q-btn color="primary" @click="$router.push(detailPath)">Edit</q-btn>
      </div>
    </div>
  </div>
  <!-- </div> -->
</template>

<script>
export default {
  name: 'GlobalDetail',
  props: {
    detail: {
      type: Object
    },
    fields: {
      type: Array
    },
    title: {
      type: String
    },
    isLoading: {
      type: Boolean
    },
    basePath: {
      type: String
    },
    endpoint: {
      type: String
    },
    detailLocalStorageKey: {
      type: String
    },
    showEditDeleteButton: {
      type: Boolean,
      default: true
    },
  },
  data () {
    return {
      deleteDialog: false
    }
  },
  methods: {
    deleteData: function() {
      this.$q.loading.show({
        message: 'Menghapus data...'
      })

      this.$axios.delete(this.deleteApiEndpoint)
        .then(response => {
          if (response.data.success) {
            this.$q.notify({
              message: 'Data berhasil dihapus!'
            })

            this.$router.push(`${this.basePath}`)
          } else {
            this.$q.notify({
              message: response.data.errors.message,
              color: 'red'
            })
          }
        })
        .catch(error => {
          this.$q.notify({
            message: error,
            color: 'red'
          })
        })
        .finally(() => {
          this.$q.loading.hide()
        })
    }
  },
  computed: {
    detailPath: function() {
      return `${this.basePath}/${this.$route.params.id}/edit`
    },
    deleteApiEndpoint: function() {
      return `${this.endpoint}/${this.$route.params.id}`
    }
  }
}
</script>
