<template>
  <div>
    <div class="q-pa-sm">
      <q-btn color="primary" icon="mdi-arrow-left" @click="handleBack" />
    </div>
    <div class="q-pa-sm">
      <q-card>
        <q-card-section>
          <div class="text-h5">{{ title }}</div>
        </q-card-section>

        <q-separator inset />

        <div class="row">
          <div class="col-md-6 col-sm-12"
            v-for="(field, key) in fields" :key="key">
            <q-card-section>
                <q-input
                  square
                  v-model="detail[field.name]"
                  @change="isChanged = true"
                  :label="field.title"
                  :type="field.type == undefined ? 'text' : field.type"
                  :stack-label="field.type == 'date'"
                />
            </q-card-section>
          </div>
          <slot name="append"></slot>
        </div>
        <slot name="detail"></slot>
      </q-card>
      <div class="q-py-md q-gutter-sm float-right">
          <q-btn @click="handleBack">Kembali</q-btn>
          <slot name="append-button"></slot>
          <q-btn @click="save" color="primary">Simpan</q-btn>
      </div>
    </div>
    <q-dialog v-model="backDialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Kamu yakin tidak ingin melanjutkan edit?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Tidak" color="primary" v-close-popup />
          <q-btn flat label="Ya" color="primary" @click="$router.back()" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'GlobalForm',
  props: {
    detail: {
      type: Object
    },
    details: {},
    title: {
      type: String
    },
    fields: {
      type: Array
    },
    endpoint: {
      type: String
    },
    basePath: {
      type: String
    },
    action: {
      type: String
    },
    localStorageKey: {
      type: String
    }
  },
  data () {
    return {
      backDialog: false,
      isChanged: false,
    }
  },
  methods: {
    handleBack: function() {
      if (this.isChanged) {
        this.backDialog = true
      } else {
        this.$router.back()
      }
    },
    save: function() {
      if (this.action.toLowerCase() == 'create') {
        this.$q.loading.show({
          message: "Menyimpan data..."
        })

        // create new data
        this.$axios.post(this.createApiEndpoint, this.detail)
          .then(response => {
            if (response.data.success) {
              this.$q.notify({
                message: "Data berhasil disimpan!"
              })

              this.$router.push(this.basePath)
            } else {
              this.$q.notify({
                message: response.data.errors.message,
                color: "red"
              })
            }
          })
          .catch(error => {
            this.$q.notify({
              message: error,
              color: "red"
            })
          })
          .finally(() => {
            this.$q.loading.hide()
          })
      } else if (this.action.toLowerCase() == 'update') {
        this.$q.loading.show({
          message: "Mengubah data..."
        })

        this.$axios.put(this.updateApiEndpoint, this.detail)
          .then(response => {
            if (response.data.success) {
              this.$q.notify({
                message: "Data berhasil diperbarui!"
              })

              this.$router.push(this.basePath)
            } else {
              this.$q.notify({
                message: response.data.errors.message,
                color: "red"
              })
            }
          })
          .catch(error => {
            this.$q.notify({
              message: error,
              color: "red"
            })
          })
          .finally(() => {
            this.$q.loading.hide()
          })
      } else if (this.action.toLowerCase() == 'upsert') {
        this.$q.loading.show({
          message: "Menyimpan data..."
        })

        this.$axios.put(this.endpoint, this.detail)
          .then(response => {
            if (response.data.success) {
              this.$q.notify({
                message: "Data berhasil disimpan!"
              })

              this.$router.push(this.basePath)
            } else {
              this.$q.notify({
                message: response.data.errors.message,
                color: "red"
              })
            }
          })
          .catch(error => {
            this.$q.notify({
              message: error,
              color: "red"
            })
          })
          .finally(() => {
            this.$q.loading.hide()
          })
      } else {
        this.$q.notify({
          message: 'Aksi tidak dikenal!',
          color: "red"
        })
      }
    }
  },
  computed: {
    updateApiEndpoint: function() {
      return `${this.endpoint}/${this.$route.params.id}`
    },
    createApiEndpoint:  function() {
      return this.endpoint
    }
  },
  created() {
    this.detail.details = this.details
  }
}
</script>
